.nhsuk-u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.nhsuk-u-hidden {
  display: none !important;
}
.nhsuk-u-show {
  display: block !important;
}
.nhsuk-u-text-left {
  text-align: left !important;
}
.nhsuk-u-text-center {
  text-align: center !important;
}
.nhsuk-u-text-right {
  text-align: right !important;
}
.nhsuk-u-margin-0 {
  margin: 0 !important;
}
.nhsuk-u-margin-bottom-0 {
  margin-bottom: 0 !important;
}
.nhsuk-u-margin-top-0 {
  margin-top: 0 !important;
}
.nhsuk-u-padding-0 {
  padding: 0 !important;
}
.nhsuk-u-padding-bottom-0 {
  padding-bottom: 0 !important;
}
.nhsuk-u-padding-top-0 {
  padding-top: 0 !important;
}
.nhsuk-u-clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.nhsuk-header .nhsuk-u-visually-hidden,
.nhsuk-header__search .nhsuk-u-visually-hidden,
label .nhsuk-u-visually-hidden,
span .nhsuk-u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.nhsuk-width-container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1200px;
}
@media (min-width: 768px) {
  .nhsuk-width-container {
    padding: 0 32px;
  }
}
@media (min-width: 1020px) {
  .nhsuk-width-container {
    padding: 0 40px;
  }
}

.nhsuk-icon {
  width: auto !important;
  height: 2em;
  vertical-align: text-bottom;
  flex-shrink: 0;
}

.nhsuk-care-card {
  margin-top: 48px;
  position: relative;
  font-family: Frutiger W01, Arial, sans-serif;
}
@media (min-width: 641px) {
  .nhsuk-care-card {
    margin-top: 48px;
  }
}
@media print {
  .nhsuk-care-card {
    color: #212b32 !important;
  }
}
.nhsuk-care-card__heading-container {
  padding-bottom: 16px;
  padding-top: 16px;
  position: relative;
  padding-left: 32px;
  padding-right: 32px;
}
@media (min-width: 641px) {
  .nhsuk-care-card__heading-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
.nhsuk-care-card__heading {
  margin: 0;
  padding-top: 0;
  font-family: Frutiger W01, Arial, sans-serif;
  font-weight: 600;
  color: #ffffff;
  line-height: 24px;
  font-size: 19px;
}
@media (min-width: 641px) {
  .nhsuk-care-card__heading {
    font-size: 22px;
  }
}
@media print {
  .nhsuk-care-card__heading {
    color: #212b32 !important;
  }
}
.nhsuk-care-card__arrow {
  bottom: -10px;
  display: block;
  height: 20px;
  left: 30px;
  overflow: hidden;
  position: absolute;
  transform: rotate(45deg);
  width: 20px;
}
@media print {
  .nhsuk-care-card__arrow {
    display: none;
  }
}
@media (min-width: 641px) {
  .nhsuk-care-card__arrow {
    left: 38px;
  }
}
.nhsuk-care-card__arrow::before, .nhsuk-care-card__arrow::after {
  content: "";
  display: block;
  height: 0;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  width: 0;
  border: solid 32px;
}
.nhsuk-care-card__content {
  padding: 32px;
  font-family: Frutiger W01, Arial, sans-serif;
  line-height: 24px;
}
@media (min-width: 641px) {
  .nhsuk-care-card__content {
    padding: 32px;
  }
}
.nhsuk-care-card__content > *:first-child {
  margin-top: 0;
}
.nhsuk-care-card__content > *:last-child {
  margin-bottom: 0;
}
.nhsuk-care-card__content p, .nhsuk-care-card__content ul, .nhsuk-care-card__content ol, .nhsuk-care-card__content li, .nhsuk-care-card__content div, .nhsuk-care-card__content span {
  font-family: inherit;
}
.nhsuk-care-card__content * {
  font-family: inherit;
}
.nhsuk-care-card__content ul, .nhsuk-care-card__content ol {
  font-family: Frutiger W01, Arial, sans-serif;
  line-height: 24px;
  font-size: 16px;
}
@media (min-width: 641px) {
  .nhsuk-care-card__content ul, .nhsuk-care-card__content ol {
    font-size: 19px;
  }
}
.nhsuk-care-card__content li {
  font-family: inherit;
  margin-bottom: 8px;
}
.nhsuk-care-card__content li:last-child {
  margin-bottom: 0;
}
.nhsuk-care-card__text {
  margin-bottom: 0;
  font-family: Frutiger W01, Arial, sans-serif;
  line-height: 24px;
  font-size: 16px;
}
@media (min-width: 641px) {
  .nhsuk-care-card__text {
    font-size: 19px;
  }
}
.nhsuk-care-card--non-urgent {
  background-color: #005eb8;
  border: 4px solid #005eb8;
}
.nhsuk-care-card--non-urgent .nhsuk-care-card__arrow::before, .nhsuk-care-card--non-urgent .nhsuk-care-card__arrow::after {
  border-color: #005eb8;
}
.nhsuk-care-card--non-urgent .nhsuk-care-card__content {
  background-color: #ffffff;
  color: #212b32;
}
.nhsuk-care-card--non-urgent .nhsuk-care-card__content a {
  color: #005eb8;
}
.nhsuk-care-card--non-urgent .nhsuk-care-card__content a:hover {
  color: #005eb8;
  text-decoration: underline;
}
.nhsuk-care-card--non-urgent .nhsuk-care-card__content a:focus {
  color: #212b32;
  background-color: #ffeb3b;
  outline: 4px solid #212b32;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px;
}
@media print {
  .nhsuk-care-card--non-urgent {
    border-width: 4px;
  }
}
.nhsuk-care-card--urgent {
  background-color: #d5281b;
  border: 6px solid #d5281b;
}
.nhsuk-care-card--urgent .nhsuk-care-card__arrow::before, .nhsuk-care-card--urgent .nhsuk-care-card__arrow::after {
  border-color: #d5281b;
}
.nhsuk-care-card--urgent .nhsuk-care-card__content {
  background-color: #ffffff;
  color: #212b32;
}
.nhsuk-care-card--urgent .nhsuk-care-card__content a {
  color: #005eb8;
}
.nhsuk-care-card--urgent .nhsuk-care-card__content a:hover {
  color: #005eb8;
  text-decoration: underline;
}
.nhsuk-care-card--urgent .nhsuk-care-card__content a:focus {
  color: #212b32;
  background-color: #ffeb3b;
  outline: 4px solid #212b32;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px;
}
@media print {
  .nhsuk-care-card--urgent {
    border-width: 6px;
  }
}
.nhsuk-care-card--emergency {
  background-color: #d5281b;
  border: 8px solid #d5281b;
}
.nhsuk-care-card--emergency .nhsuk-care-card__arrow::before, .nhsuk-care-card--emergency .nhsuk-care-card__arrow::after {
  border-color: #d5281b;
}
.nhsuk-care-card--emergency .nhsuk-care-card__content {
  background-color: #212b32;
  color: #ffffff;
}
.nhsuk-care-card--emergency .nhsuk-care-card__content a {
  color: #ffffff;
}
.nhsuk-care-card--emergency .nhsuk-care-card__content a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.nhsuk-care-card--emergency .nhsuk-care-card__content a:focus {
  background-color: #ffeb3b;
  color: #212b32;
  outline: 4px solid #212b32;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px;
}
@media print {
  .nhsuk-care-card--emergency .nhsuk-care-card__content {
    background-color: #ffffff;
    color: #212b32 !important;
  }
}
@media print {
  .nhsuk-care-card--emergency {
    border-width: 8px;
  }
}

.nhsuk-u-visually-hidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}