// NHS Tag SCSS - Uses compiled design tokens
@use '../../../packages/nhs-fdp/scss' as nhs;
@use '../../../packages/nhs-fdp/dist/scss/components/tag' as tag;

.nhsuk-tag {
  // Default: Uses dedicated tag component design tokens
  background-color: tag.$nhs-fdp-tag-default-background;
  border: 1px solid tag.$nhs-fdp-tag-default-border;
  color: tag.$nhs-fdp-tag-default-text;
  display: inline-block;
  outline: 2px solid transparent;
  outline-offset: -2px;
  padding: nhs.$nhs-fdp-spacing-1 nhs.$nhs-fdp-spacing-2;
  text-decoration: none;
  
  // Typography
  font-family: #{nhs.$nhs-fdp-font-family-base}, #{nhs.$nhs-fdp-font-family-fallback};
  font-size: nhs.$nhs-fdp-font-size-16-mobile;
  font-weight: nhs.$nhs-fdp-font-weight-bold;
  line-height: 1;

  @media (min-width: nhs.$nhs-fdp-breakpoint-medium) {
    font-size: nhs.$nhs-fdp-font-size-16-tablet;
  }

  // Close button for closable tags
  &__close {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    line-height: 1;
    padding: 0;
    margin-left: 0.25rem;
    width: 16px;
    height: 16px;
    transition: opacity 0.2s ease;

    &:hover:not(:disabled) {
      opacity: 0.7;
    }

    &:focus {
      outline: 2px solid #ffeb3b;
      outline-offset: 1px;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  // Color variants - Using dedicated tag component design tokens
  &--white {
    background-color: tag.$nhs-fdp-tag-white-background;
    border-color: tag.$nhs-fdp-tag-white-border;
    color: tag.$nhs-fdp-tag-white-text;
  }

  &--grey {
    background-color: tag.$nhs-fdp-tag-grey-background;
    border-color: tag.$nhs-fdp-tag-grey-border;
    color: tag.$nhs-fdp-tag-grey-text;
  }

  &--green {
    background-color: tag.$nhs-fdp-tag-green-background;
    border-color: tag.$nhs-fdp-tag-green-border;
    color: tag.$nhs-fdp-tag-green-text;
  }

  &--aqua-green {
    background-color: tag.$nhs-fdp-tag-aqua-green-background;
    border-color: tag.$nhs-fdp-tag-aqua-green-border;
    color: tag.$nhs-fdp-tag-aqua-green-text;
  }

  &--blue {
    background-color: tag.$nhs-fdp-tag-blue-background;
    border-color: tag.$nhs-fdp-tag-blue-border;
    color: tag.$nhs-fdp-tag-blue-text;
  }

  &--purple {
    background-color: tag.$nhs-fdp-tag-purple-background;
    border-color: tag.$nhs-fdp-tag-purple-border;
    color: tag.$nhs-fdp-tag-purple-text;
  }

  &--pink {
    background-color: tag.$nhs-fdp-tag-pink-background;
    border-color: tag.$nhs-fdp-tag-pink-border;
    color: tag.$nhs-fdp-tag-pink-text;
  }

  &--red {
    background-color: tag.$nhs-fdp-tag-red-background;
    border-color: tag.$nhs-fdp-tag-red-border;
    color: tag.$nhs-fdp-tag-red-text;
  }

  &--orange {
    background-color: tag.$nhs-fdp-tag-orange-background;
    border-color: tag.$nhs-fdp-tag-orange-border;
    color: tag.$nhs-fdp-tag-orange-text;
  }

  &--yellow {
    background-color: tag.$nhs-fdp-tag-yellow-background;
    border-color: tag.$nhs-fdp-tag-yellow-border;
    color: tag.$nhs-fdp-tag-yellow-text;
  }

  // Style variants
  &--no-border {
    border: 0;
  }

  &--closable {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    padding-right: 0.25rem;
  }

  &--disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
