@use '../../../packages/nhs-fdp/scss' as nhs;

// Summary Card component SCSS with design tokens
// A clean card component for displaying key metrics and data summaries

// Summary Card variables using design tokens
$summary-card-border-width: nhs.$nhs-fdp-border-width-semantic-thin;
$summary-card-border-radius: 4px;
$summary-card-background: nhs.$nhs-fdp-color-grey-5;
$summary-card-border-color: nhs.$nhs-fdp-color-grey-3;
$summary-card-padding: nhs.$nhs-fdp-spacing-6; // 24px

.nhs-fdp-summary-card {
  font-family: #{nhs.$nhs-fdp-font-family-base}, #{nhs.$nhs-fdp-font-family-fallback};
  background: $summary-card-background;
  border: $summary-card-border-width solid $summary-card-border-color;
  border-radius: $summary-card-border-radius;
  padding: $summary-card-padding;
  display: block;
  text-decoration: none;
  color: inherit;
  min-height: 130px; 

  // Remove margins from content elements
  &__title {
	margin: 0 0 nhs.$nhs-fdp-spacing-4 0; // 16px bottom margin
	color: nhs.$nhs-fdp-color-primary-blue;
	line-height: nhs.$nhs-fdp-font-line-height-base;

	@media (min-width: nhs.$nhs-fdp-breakpoint-medium) {
		font-size: nhs.$nhs-fdp-font-size-19-tablet;
	}

  }

  &__value {
	margin: 0;
	font-size: nhs.$nhs-fdp-font-size-36-desktop;
	font-weight: nhs.$nhs-fdp-font-weight-bold;
	line-height: nhs.$nhs-fdp-font-line-height-base;
	color: nhs.$nhs-fdp-color-grey-1;

	@media (min-width: nhs.$nhs-fdp-breakpoint-medium) {
	  font-size: nhs.$nhs-fdp-font-size-36-tablet;
	}
  }

  &__subtitle {
	margin: nhs.$nhs-fdp-spacing-2 0 0 0; // 8px top margin
	font-size: nhs.$nhs-fdp-font-size-19-desktop;
	color: nhs.$nhs-fdp-color-grey-1;
	line-height: nhs.$nhs-fdp-font-line-height-base;

	@media (min-width: nhs.$nhs-fdp-breakpoint-medium) {
	  font-size: nhs.$nhs-fdp-font-size-19-tablet;
	}
  }

  // Clickable variant
  &--clickable {
	cursor: pointer;
	transition: background-color 0.15s ease, border-color 0.15s ease;

	&:hover {
	  background: nhs.$nhs-fdp-color-grey-4;
	  border-color: nhs.$nhs-fdp-color-grey-2;
	  text-decoration: none;
	}

	&:focus {
	  outline: nhs.$nhs-fdp-spacing-1 solid nhs.$nhs-fdp-color-primary-yellow;
	  outline-offset: 0;
	  background: nhs.$nhs-fdp-color-grey-4;
	}

	&:active {
	  background: nhs.$nhs-fdp-color-grey-3;
	}
  }

  // Variant styles
  &--success {
	border-color: nhs.$nhs-fdp-color-primary-green;
	
	.nhs-fdp-summary-card__title {
	  color: nhs.$nhs-fdp-color-primary-green;
	}
  }

  &--warning {
	border-color: nhs.$nhs-fdp-color-secondary-orange;
	
	.nhs-fdp-summary-card__title {
	  color: nhs.$nhs-fdp-color-secondary-orange;
	}
  }

  &--error {
	border-color: nhs.$nhs-fdp-color-primary-red;
	
	.nhs-fdp-summary-card__title {
	  color: nhs.$nhs-fdp-color-primary-red;
	}
  }

  // Responsive design
  @media (max-width: calc(#{nhs.$nhs-fdp-breakpoint-large} - 1px)) {
	padding: nhs.$nhs-fdp-spacing-3; // 20px on smaller screens
  }

  // Print styles
  @media print {
	border: 1px solid nhs.$nhs-fdp-color-grey-2;
	background: transparent;
  }
}
