@use '../../../packages/nhs-fdp/scss' as nhs;

.nhsuk-contents-list {
  margin-bottom: nhs.$nhs-fdp-spacing-8;
  
  @media (min-width: nhs.$nhs-fdp-breakpoint-medium) {
    margin-bottom: nhs.$nhs-fdp-spacing-9;
  }
}

.nhsuk-contents-list__list {
  list-style: none;
  padding: 0;
  margin: 0;
  counter-reset: contents-counter;
}

.nhsuk-contents-list__item {
  position: relative;
  padding: nhs.$nhs-fdp-spacing-2 0 nhs.$nhs-fdp-spacing-2 nhs.$nhs-fdp-spacing-6;
  counter-increment: contents-counter;
  
  &::before {
    content: "";
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 19px;
    height: 1px;
    background-color: nhs.$nhs-fdp-semantic-color-border-default;
    background-image: url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__emdash' xmlns='http://www.w3.org/2000/svg' fill='%23aeb7bd' width='19' height='1' aria-hidden='true'%3E%3Cpath d='M0 0h19v1H0z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }
  
  @media (min-width: nhs.$nhs-fdp-breakpoint-medium) {
    &::before {
      left: 14px;
      width: 16px;
      background-image: url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__emdash' xmlns='http://www.w3.org/2000/svg' fill='%23aeb7bd' width='16' height='1' aria-hidden='true'%3E%3Cpath d='M0 0h19v1H0z'%3E%3C/path%3E%3C/svg%3E");
    }
  }
}

.nhsuk-contents-list__link {
  display: inline-block;
  color: nhs.$nhs-fdp-color-primary-blue;
  text-decoration: underline;
  font-family: #{nhs.$nhs-fdp-font-family-base}, #{nhs.$nhs-fdp-font-family-fallback};
  font-size: nhs.$nhs-fdp-font-size-16-mobile;
  line-height: nhs.$nhs-fdp-font-line-height-base;
  
  @media (min-width: nhs.$nhs-fdp-breakpoint-medium) {
    font-size: nhs.$nhs-fdp-font-size-16-tablet;
  }
  
  &:visited {
    color: nhs.$nhs-fdp-semantic-color-link-visited;
  }
  
  &:hover {
    color: nhs.$nhs-fdp-semantic-color-link-hover;
  }
  
  &:focus {
    background-color: nhs.$nhs-fdp-semantic-color-focus-background;
    box-shadow: 0 -2px nhs.$nhs-fdp-semantic-color-focus-background,
                0 4px nhs.$nhs-fdp-semantic-color-text-primary;
    outline: 3px solid transparent;
  }
}

.nhsuk-contents-list__current {
  font-weight: nhs.$nhs-fdp-font-weight-bold;
  font-family: #{nhs.$nhs-fdp-font-family-base}, #{nhs.$nhs-fdp-font-family-fallback};
  font-size: nhs.$nhs-fdp-font-size-16-mobile;
  line-height: nhs.$nhs-fdp-font-line-height-base;
  color: nhs.$nhs-fdp-semantic-color-text-primary;
  
  @media (min-width: nhs.$nhs-fdp-breakpoint-medium) {
    font-size: nhs.$nhs-fdp-font-size-16-tablet;
  }
}

.nhsuk-u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
