.nhsuk-u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.nhsuk-u-hidden {
  display: none !important;
}
.nhsuk-u-show {
  display: block !important;
}
.nhsuk-u-text-left {
  text-align: left !important;
}
.nhsuk-u-text-center {
  text-align: center !important;
}
.nhsuk-u-text-right {
  text-align: right !important;
}
.nhsuk-u-margin-0 {
  margin: 0 !important;
}
.nhsuk-u-margin-bottom-0 {
  margin-bottom: 0 !important;
}
.nhsuk-u-margin-top-0 {
  margin-top: 0 !important;
}
.nhsuk-u-padding-0 {
  padding: 0 !important;
}
.nhsuk-u-padding-bottom-0 {
  padding-bottom: 0 !important;
}
.nhsuk-u-padding-top-0 {
  padding-top: 0 !important;
}
.nhsuk-u-clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.nhsuk-header .nhsuk-u-visually-hidden,
.nhsuk-header__search .nhsuk-u-visually-hidden,
label .nhsuk-u-visually-hidden,
span .nhsuk-u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.nhsuk-width-container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1200px;
}
@media (min-width: 768px) {
  .nhsuk-width-container {
    padding: 0 32px;
  }
}
@media (min-width: 1020px) {
  .nhsuk-width-container {
    padding: 0 40px;
  }
}

.nhsuk-icon {
  width: auto !important;
  height: 2em;
  vertical-align: text-bottom;
  flex-shrink: 0;
}

.nhsuk-expander {
  background-color: #ffffff;
  border: 1px solid #d8dde0;
  color: #212b32;
  display: block;
  font-family: Frutiger W01, Arial, sans-serif;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .nhsuk-expander {
    font-size: 19px;
    line-height: 28px;
  }
}
.nhsuk-expander .nhsuk-details__summary {
  background-color: #ffffff;
  border-top: 4px solid transparent;
  display: block;
  padding: 28px 32px 0;
  width: auto;
}
@media (min-width: 768px) {
  .nhsuk-expander .nhsuk-details__summary {
    padding: 36px 40px 0;
  }
}
.nhsuk-expander .nhsuk-details__text {
  border-left: 0;
  margin-left: 0;
  margin-top: 0;
  padding: 0 40px 40px 40px;
}
@media (min-width: 768px) {
  .nhsuk-expander .nhsuk-details__text {
    padding: 0 40px 40px 40px;
  }
}
@media screen\0  {
  .nhsuk-expander {
    margin-top: 0;
    padding: 0;
  }
  .nhsuk-expander .nhsuk-details__summary-text {
    font-size: 22px;
    line-height: 29px;
    display: block;
    font-weight: 600;
    margin-bottom: 40px;
  }
}
@media screen\0  and (min-width: 768px) {
  .nhsuk-expander .nhsuk-details__summary-text {
    font-size: 26px;
    line-height: 32px;
  }
}
@supports not (-ms-ime-align: auto) {
  .nhsuk-expander {
    border-bottom-width: 4px;
  }
  .nhsuk-expander:hover {
    border-color: #aeb7bd;
  }
  .nhsuk-expander .nhsuk-details__summary {
    padding-bottom: 32px;
  }
  @media (min-width: 768px) {
    .nhsuk-expander .nhsuk-details__summary {
      padding-bottom: 40px;
    }
  }
  .nhsuk-expander .nhsuk-details__summary::before {
    display: none !important;
  }
  .nhsuk-expander .nhsuk-details__summary:focus {
    box-shadow: none;
  }
  .nhsuk-expander .nhsuk-details__summary-text {
    color: #005eb8;
    cursor: pointer;
    display: inline-block;
    padding: 4px 4px 4px 38px;
    position: relative;
  }
  .nhsuk-expander .nhsuk-details__summary:hover .nhsuk-details__summary-text {
    color: #7c2855;
  }
  .nhsuk-expander .nhsuk-details__summary:focus .nhsuk-details__summary-text {
    background-color: #ffeb3b;
    box-shadow: 0 -2px #ffeb3b, 0 4px #212b32;
    color: #212b32;
    outline: 4px solid transparent;
    text-decoration: none;
  }
  .nhsuk-expander .nhsuk-details__summary-text::before {
    background: url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__plus' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' aria-hidden='true'%3E%3Ccircle cx='12' cy='12' r='10' fill='%23005eb8'%3E%3C/circle%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M12 8v8M8 12h8'%3E%3C/path%3E%3C/svg%3E%0A") left -2px center no-repeat;
    content: "";
    display: inline-block;
    height: 32px;
    left: 0;
    position: absolute;
    top: calc(50% - 16px);
    width: 32px;
  }
  .nhsuk-expander .nhsuk-details__summary:focus .nhsuk-details__summary-text::before {
    background: #ffeb3b url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__plus' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' aria-hidden='true'%3E%3Ccircle cx='12' cy='12' r='10' fill='002f5c'%3E%3C/circle%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M12 8v8M8 12h8'%3E%3C/path%3E%3C/svg%3E%0A") left -2px center no-repeat;
  }
  .nhsuk-expander[open] {
    border-bottom-width: 1px;
  }
  .nhsuk-expander[open] .nhsuk-details__summary-text::before {
    background: url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__minus' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' aria-hidden='true'%3E%3Ccircle cx='12' cy='12' r='10' fill='%23005eb8'%3E%3C/circle%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M8 12h8'%3E%3C/path%3E%3C/svg%3E%0A") left -2px center no-repeat;
  }
  .nhsuk-expander[open] .nhsuk-details__summary:focus .nhsuk-details__summary-text::before {
    background: #ffeb3b url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__minus' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' aria-hidden='true'%3E%3Ccircle cx='12' cy='12' r='10' fill='002f5c'%3E%3C/circle%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M8 12h8'%3E%3C/path%3E%3C/svg%3E%0A") left -2px center no-repeat;
  }
}

.nhsuk-expander-group {
  margin-bottom: 40px;
}
.nhsuk-expander-group > .nhsuk-expander {
  margin-bottom: 16px;
}

.nhsuk-expander + h2,
.nhsuk-expander + .nhsuk-heading-l {
  padding-top: 40px;
}