// NHS WarningCallout SCSS - Uses compiled design tokens
@use '../../../packages/nhs-fdp/scss' as nhs;

.nhsuk-warning-callout {
  // Uses panel-with-label pattern: pale yellow background with yellow border
  background-color: nhs.$nhs-fdp-color-secondary-pale-yellow;
  border: 1px solid nhs.$nhs-fdp-color-primary-yellow;
  color: nhs.$nhs-fdp-semantic-color-text-primary;
  
  // Panel base styles
  font-family: #{nhs.$nhs-fdp-font-family-base}, #{nhs.$nhs-fdp-font-family-fallback};
  margin-bottom: nhs.$nhs-fdp-spacing-responsive-7-mobile;
  margin-top: nhs.$nhs-fdp-spacing-responsive-7-mobile;
  padding: nhs.$nhs-fdp-spacing-responsive-5-mobile;
  // Remove padding-top for label positioning
  padding-top: 0;

  @media (min-width: nhs.$nhs-fdp-breakpoint-tablet) {
    margin-bottom: nhs.$nhs-fdp-spacing-responsive-7-tablet;
    margin-top: nhs.$nhs-fdp-spacing-responsive-7-tablet;
    padding: nhs.$nhs-fdp-spacing-responsive-5-tablet;
    padding-top: 0;
  }

  @media print {
    border: 1px solid nhs.$nhs-fdp-color-primary-black;
    page-break-inside: avoid;
  }
}

.nhsuk-warning-callout__label {
  // Heading label styles for warning callout
  background-color: nhs.$nhs-fdp-color-primary-yellow;
  color: nhs.$nhs-fdp-semantic-color-text-primary;
  display: inline-block;
  margin: 0 0 nhs.$nhs-fdp-spacing-4 #{-1 * nhs.$nhs-fdp-component-warning-icon-offset};
  padding: nhs.$nhs-fdp-spacing-4 nhs.$nhs-fdp-spacing-5;
  position: relative;
  top: #{-1 * nhs.$nhs-fdp-component-warning-icon-top};
  
  // Typography
  font-family: #{nhs.$nhs-fdp-font-family-base}, #{nhs.$nhs-fdp-font-family-fallback};
  font-size: nhs.$nhs-fdp-font-size-26-mobile;
  font-weight: nhs.$nhs-fdp-font-weight-bold;
  line-height: nhs.$nhs-fdp-font-line-height-base;

  @media (min-width: nhs.$nhs-fdp-breakpoint-tablet) {
    font-size: nhs.$nhs-fdp-font-size-26-tablet;
    margin-left: #{-1 * nhs.$nhs-fdp-component-warning-icon-offset};
    margin-right: 0;
    padding: nhs.$nhs-fdp-spacing-4 nhs.$nhs-fdp-spacing-5;
    top: #{-1 * nhs.$nhs-fdp-component-warning-icon-top};
  }

  @media (max-width: calc(#{nhs.$nhs-fdp-breakpoint-tablet} - 1px)) {
    margin-left: #{-1 * nhs.$nhs-fdp-component-warning-icon-offset-mobile};
    margin-right: 0;
    padding: nhs.$nhs-fdp-spacing-4 nhs.$nhs-fdp-spacing-4;
    top: #{-1 * nhs.$nhs-fdp-component-warning-icon-top-mobile};
  }

  @media print {
    background: none;
    color: nhs.$nhs-fdp-color-primary-black;
    top: 0;
  }
}

// Content within warning callout
.nhsuk-warning-callout p {
  margin-bottom: nhs.$nhs-fdp-spacing-4;
  margin-top: 0;
  font-family: #{nhs.$nhs-fdp-font-family-base}, #{nhs.$nhs-fdp-font-family-fallback};
  
  @include nhs.nhs-fdp-font-size(19); // Standard NHS body text size
  
  &:last-child {
    margin-bottom: 0;
  }
}

// Links within warning callout
.nhsuk-warning-callout a {
  color: nhs.$nhs-fdp-semantic-color-link-default;
  
  &:visited {
    color: nhs.$nhs-fdp-semantic-color-link-visited;
  }
  
  &:hover {
    color: nhs.$nhs-fdp-semantic-color-link-hover;
  }
  
  &:focus {
    background-color: nhs.$nhs-fdp-semantic-color-focus-background;
    box-shadow: 0 -2px nhs.$nhs-fdp-semantic-color-focus-background, 0 4px nhs.$nhs-fdp-semantic-color-focus-text;
    color: nhs.$nhs-fdp-semantic-color-focus-text;
    outline: nhs.$nhs-fdp-focus-outline-width solid transparent;
    text-decoration: none;
  }
}
