@use "../../../packages/nhs-fdp/scss" as nhs;

.nhsuk-sortable-table-container {
	position: relative;
}

.nhsuk-sortable-table__button {
	font-family: nhs.$nhs-fdp-font-family-base, nhs.$nhs-fdp-font-family-fallback;
	font-size: nhs.$nhs-fdp-font-size-16-mobile;
	font-weight: nhs.$nhs-fdp-font-weight-bold;
	line-height: nhs.$nhs-fdp-font-line-height-16-mobile;
	background: none;
	border: 0;
	color: nhs.$nhs-fdp-semantic-color-text-primary;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: nhs.$nhs-fdp-spacing-2;
	padding: 0;
	text-align: left;
	width: 100%;

	@media (min-width: nhs.$nhs-fdp-breakpoint-medium) {
		font-size: nhs.$nhs-fdp-font-size-16-tablet;
		line-height: nhs.$nhs-fdp-font-line-height-16-tablet;
	}

	&:hover {
		color: nhs.$nhs-fdp-semantic-intent-secondary;

		.nhsuk-sortable-table__icon {
			fill: nhs.$nhs-fdp-semantic-intent-secondary;
		}
	}

	&:focus {
		outline: 3px solid transparent;
		outline-offset: 2px;
		color: nhs.$nhs-fdp-color-primary-black !important;
		background-color: nhs.$nhs-fdp-color-primary-yellow;
		box-shadow:
			0 -2px nhs.$nhs-fdp-color-primary-yellow,
			0 3px nhs.$nhs-fdp-semantic-color-text-primary;
		text-decoration: none;

		svg.nhsuk-sortable-table__icon {
			fill: nhs.$nhs-fdp-color-primary-black !important;
		}
	}

	&:active {
		color: nhs.$nhs-fdp-semantic-color-text-primary;
	}
}

.nhsuk-sortable-table__button-text {
	flex: 1;
}

.nhsuk-sortable-table__icon-wrapper {
	display: flex;
	align-items: center;
	flex-shrink: 0;
}

.nhsuk-sortable-table__icon {
	width: 13px;
	height: 17px;
	fill: nhs.$nhs-fdp-semantic-color-text-primary;
	transition: fill 0.2s ease;
}

// Active sort state styling
th[aria-sort="ascending"],
th[aria-sort="descending"] {
	.nhsuk-sortable-table__button {
		color: nhs.$nhs-fdp-semantic-intent-secondary;

		.nhsuk-sortable-table__icon {
			fill: nhs.$nhs-fdp-semantic-intent-secondary;
		}
	}
}
