// NHS Error Message SCSS - Uses compiled design tokens
@use '../../../packages/nhs-fdp/dist/scss/tokens' as nhs;

.nhsuk-error-message {
  color: nhs.$nhs-fdp-semantic-color-error;
  display: block;
  font-family: #{nhs.$nhs-fdp-font-family-base}, #{nhs.$nhs-fdp-font-family-fallback};
  font-size: nhs.$nhs-fdp-font-size-16-mobile;
  font-weight: nhs.$nhs-fdp-font-weight-bold;
  line-height: nhs.$nhs-fdp-font-line-height-base;
  margin-bottom: nhs.$nhs-fdp-spacing-3;

  @media (min-width: 768px) {
    font-size: nhs.$nhs-fdp-font-size-16-tablet;
  }
}

// Utility class for screen readers
.nhsuk-u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
