.nhsuk-u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.nhsuk-u-hidden {
  display: none !important;
}
.nhsuk-u-show {
  display: block !important;
}
.nhsuk-u-text-left {
  text-align: left !important;
}
.nhsuk-u-text-center {
  text-align: center !important;
}
.nhsuk-u-text-right {
  text-align: right !important;
}
.nhsuk-u-margin-0 {
  margin: 0 !important;
}
.nhsuk-u-margin-bottom-0 {
  margin-bottom: 0 !important;
}
.nhsuk-u-margin-top-0 {
  margin-top: 0 !important;
}
.nhsuk-u-padding-0 {
  padding: 0 !important;
}
.nhsuk-u-padding-bottom-0 {
  padding-bottom: 0 !important;
}
.nhsuk-u-padding-top-0 {
  padding-top: 0 !important;
}
.nhsuk-u-clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.nhsuk-header .nhsuk-u-visually-hidden,
.nhsuk-header__search .nhsuk-u-visually-hidden,
label .nhsuk-u-visually-hidden,
span .nhsuk-u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.nhsuk-width-container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1200px;
}
@media (min-width: 768px) {
  .nhsuk-width-container {
    padding: 0 32px;
  }
}
@media (min-width: 1020px) {
  .nhsuk-width-container {
    padding: 0 40px;
  }
}

.nhsuk-icon {
  width: auto !important;
  height: 2em;
  vertical-align: text-bottom;
  flex-shrink: 0;
}

.nhsuk-back-link {
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: 1;
}
@media (min-width: 768px) {
  .nhsuk-back-link {
    padding-top: 24px;
  }
}
.nhsuk-back-link__link {
  background: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 16px;
  position: relative;
  font-family: Frutiger W01, Arial, sans-serif;
  color: #005eb8;
  text-decoration: none;
  text-decoration-thickness: max(1px, 0.0625rem);
  text-underline-offset: 0.1578em;
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .nhsuk-back-link__link {
    font-size: 16px;
    line-height: 24px;
  }
}
.nhsuk-back-link__link:hover {
  color: #7c2855;
}
.nhsuk-back-link__link:focus {
  outline: 4px solid #ffeb3b;
  outline-offset: 0;
  color: #212b32;
  background-color: #ffeb3b;
  box-shadow: 0 -2px #ffeb3b, 0 4px #212b32;
  text-decoration: none;
}
.nhsuk-back-link__link:active {
  color: #003087;
}
.nhsuk-back-link__link[type=button] {
  font-family: Frutiger W01, Arial, sans-serif;
}
.nhsuk-back-link__link .nhsuk-icon__chevron-left {
  height: 24px;
  left: -8px;
  position: absolute;
  top: -1px;
  width: 24px;
  fill: currentColor;
}
@media (min-width: 768px) {
  .nhsuk-back-link__link .nhsuk-icon__chevron-left {
    top: 0;
  }
}
.nhsuk-back-link--reverse .nhsuk-back-link__link {
  color: #ffffff;
}
.nhsuk-back-link--reverse .nhsuk-back-link__link:hover {
  color: #f0f4f5;
}
.nhsuk-back-link--reverse .nhsuk-back-link__link:focus {
  color: #212b32;
}
.nhsuk-back-link--reverse .nhsuk-back-link__link:active {
  color: #d8dde0;
}