.nhsuk-u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.nhsuk-u-hidden {
  display: none !important;
}
.nhsuk-u-show {
  display: block !important;
}
.nhsuk-u-text-left {
  text-align: left !important;
}
.nhsuk-u-text-center {
  text-align: center !important;
}
.nhsuk-u-text-right {
  text-align: right !important;
}
.nhsuk-u-margin-0 {
  margin: 0 !important;
}
.nhsuk-u-margin-bottom-0 {
  margin-bottom: 0 !important;
}
.nhsuk-u-margin-top-0 {
  margin-top: 0 !important;
}
.nhsuk-u-padding-0 {
  padding: 0 !important;
}
.nhsuk-u-padding-bottom-0 {
  padding-bottom: 0 !important;
}
.nhsuk-u-padding-top-0 {
  padding-top: 0 !important;
}
.nhsuk-u-clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.nhsuk-header .nhsuk-u-visually-hidden,
.nhsuk-header__search .nhsuk-u-visually-hidden,
label .nhsuk-u-visually-hidden,
span .nhsuk-u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.nhsuk-width-container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1200px;
}
@media (min-width: 768px) {
  .nhsuk-width-container {
    padding: 0 32px;
  }
}
@media (min-width: 1020px) {
  .nhsuk-width-container {
    padding: 0 40px;
  }
}

.nhsuk-icon {
  width: auto !important;
  height: 2em;
  vertical-align: text-bottom;
  flex-shrink: 0;
}

.nhsuk-warning-callout {
  background-color: #fff9c4;
  border: 1px solid #ffeb3b;
  color: #212b32;
  font-family: Frutiger W01, Arial, sans-serif;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 24px;
  padding-top: 0;
}
@media (min-width: 768px) {
  .nhsuk-warning-callout {
    margin-bottom: 48px;
    margin-top: 48px;
    padding: 32px;
    padding-top: 0;
  }
}
@media print {
  .nhsuk-warning-callout {
    border: 1px solid #212b32;
    page-break-inside: avoid;
  }
}
.nhsuk-warning-callout__label {
  background-color: #ffeb3b;
  color: #212b32;
  display: inline-block;
  margin: 0 0 24px -33px;
  padding: 24px 32px;
  position: relative;
  top: -16px;
  font-family: Frutiger W01, Arial, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
}
@media (min-width: 768px) {
  .nhsuk-warning-callout__label {
    font-size: 26px;
    margin-left: -33px;
    margin-right: 0;
    padding: 24px 32px;
    top: -16px;
  }
}
@media (max-width: calc(768px - 1px)) {
  .nhsuk-warning-callout__label {
    margin-left: -25px;
    margin-right: 0;
    padding: 24px 24px;
    top: -8px;
  }
}
@media print {
  .nhsuk-warning-callout__label {
    background: none;
    color: #212b32;
    top: 0;
  }
}
.nhsuk-warning-callout p {
  margin-bottom: 24px;
  margin-top: 0;
  font-family: Frutiger W01, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .nhsuk-warning-callout p {
    font-size: 19px;
    line-height: 28px;
  }
}
.nhsuk-warning-callout p:last-child {
  margin-bottom: 0;
}
.nhsuk-warning-callout a {
  color: #005eb8;
}
.nhsuk-warning-callout a:visited {
  color: #330072;
}
.nhsuk-warning-callout a:hover {
  color: #7c2855;
}
.nhsuk-warning-callout a:focus {
  background-color: #ffeb3b;
  box-shadow: 0 -2px #ffeb3b, 0 4px #212b32;
  color: #212b32;
  outline: 4px solid transparent;
  text-decoration: none;
}