// NHS Hero component styles
// Ported from NHS.UK Frontend with responsive enhancements

// NHS Hero SCSS - Uses compiled design tokens
@use '../../../packages/nhs-fdp/scss' as nhs;

.nhsuk-hero {
  background-color: nhs.$nhs-fdp-color-primary-blue;
  color: nhs.$nhs-fdp-color-primary-white;
  border-bottom: 1px solid nhs.$nhs-fdp-color-grey-4;
  padding: nhs.$nhs-fdp-spacing-6 0;
  position: relative;
  
  @media (min-width: 641px) {
    padding: nhs.$nhs-fdp-spacing-7 0;
  }
}

.nhsuk-hero--border {
  border-bottom: 1px solid nhs.$nhs-fdp-border-color-default;
}

.nhsuk-hero--image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  
  .nhsuk-hero__overlay {
    background-color: rgba(0, 94, 184, 0.8);
    padding: nhs.$nhs-fdp-spacing-6 0;
    
    @media (min-width: 641px) {
      padding: nhs.$nhs-fdp-spacing-7 0;
    }
  }
}

.nhsuk-hero--image-description {
  .nhsuk-hero__overlay {
    background-color: rgba(0, 94, 184, 0.8);
  }
}

.nhsuk-hero__wrapper {
  margin-bottom: nhs.$nhs-fdp-spacing-6;
  
  @media (min-width: 641px) {
    margin-bottom: nhs.$nhs-fdp-spacing-7;
  }
}

.nhsuk-hero__heading {
  font-size: nhs.$nhs-fdp-font-size-36-mobile;
  font-weight: nhs.$nhs-fdp-font-weight-bold;
  line-height: 1.2;
  color: nhs.$nhs-fdp-color-primary-white;
  margin-bottom: nhs.$nhs-fdp-spacing-3;
  
  @media (min-width: 641px) {
    font-size: nhs.$nhs-fdp-font-size-48-tablet;
    font-weight: nhs.$nhs-fdp-font-weight-bold;
    line-height: 1.2;
    margin-bottom: nhs.$nhs-fdp-spacing-3;
  }
  
  @media (min-width: 769px) {
    font-size: nhs.$nhs-fdp-font-size-48-tablet;
    font-weight: nhs.$nhs-fdp-font-weight-bold;
    line-height: 1.2;
    margin-bottom: nhs.$nhs-fdp-spacing-3;
  }
}

.nhsuk-hero-content {
  position: relative;
  
  .nhsuk-body-l {
    color: nhs.$nhs-fdp-color-primary-white;
    margin-bottom: 0;
  }
  
  p {
    color: nhs.$nhs-fdp-color-primary-white;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.nhsuk-hero__arrow {
  background-image: url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__arrow-right-circle' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath d='M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm3.707 10.293-3 3a1 1 0 0 1-1.414-1.414L12.586 13H8a1 1 0 0 1 0-2h4.586l-1.293-1.293a1 1 0 0 1 1.414-1.414l3 3a1 1 0 0 1 0 1.414z' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: nhs.$nhs-fdp-spacing-1;
  display: block;
  height: 24px;
  position: absolute;
  right: 0;
  width: 24px;
  
  @media (min-width: 641px) {
    bottom: nhs.$nhs-fdp-spacing-1;
    height: 32px;
    right: nhs.$nhs-fdp-spacing-1;
    width: 32px;
  }
}

// Content specific styling
.nhsuk-hero {
  .nhsuk-body-l {
    font-size: nhs.$nhs-fdp-font-size-19-mobile;
    font-weight: nhs.$nhs-fdp-font-weight-normal;
    line-height: 1.4;
    color: nhs.$nhs-fdp-color-primary-white;
    
    @media (min-width: 641px) {
      font-size: nhs.$nhs-fdp-font-size-19-tablet;
      font-weight: nhs.$nhs-fdp-font-weight-normal;
      line-height: 1.4;
    }
  }
  
  p {
    color: nhs.$nhs-fdp-color-primary-white;
    margin-bottom: nhs.$nhs-fdp-spacing-4;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  ul,
  ol {
    color: nhs.$nhs-fdp-color-primary-white;
    margin-bottom: nhs.$nhs-fdp-spacing-4;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  li {
    margin-bottom: nhs.$nhs-fdp-spacing-1;
  }
  
  a {
    color: nhs.$nhs-fdp-color-primary-white;
    
    &:visited {
      color: nhs.$nhs-fdp-color-primary-white;
    }
    
    &:hover {
      color: nhs.$nhs-fdp-color-primary-white;
    }
    
    &:active {
      color: nhs.$nhs-fdp-color-primary-white;
    }
    
    &:focus {
      color: nhs.$nhs-fdp-color-primary-blue;
    }
  }
}

// High contrast mode support
@media (prefers-contrast: high) {
  .nhsuk-hero {
    border: 2px solid;
  }
  
  .nhsuk-hero--image {
    .nhsuk-hero__overlay {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}
