@use '../../../packages/nhs-fdp/dist/scss/tokens' as nhs;

.nhsuk-breadcrumb {
  padding-top: nhs.$nhs-fdp-spacing-4;
  padding-bottom: nhs.$nhs-fdp-spacing-4;
  
  @media print {
    display: none;
  }
  
  @media (min-width: nhs.$nhs-fdp-breakpoint-tablet) {
    padding-top: nhs.$nhs-fdp-spacing-5;
    padding-bottom: nhs.$nhs-fdp-spacing-5;
  }
}

.nhsuk-breadcrumb__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none; // Hidden by default on mobile
  
  // Show on tablet and desktop (641px+)
  @media (min-width: nhs.$nhs-fdp-breakpoint-tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.nhsuk-breadcrumb__item {
  margin: 0;
  padding: nhs.$nhs-fdp-spacing-2 0; // Add vertical padding for better spacing
  
  &:not(:last-child):after {
    content: '';
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" aria-hidden="true" focusable="false"><path d="M6.5 6L2 10.5 3.5 12l6-6-6-6L2 1.5z" fill="currentColor"/></svg>') no-repeat center;
    background-size: 12px 12px; // Explicitly set background size
    display: inline-block;
    width: 12px; // Increase width to provide more space for SVG
    height: 16px; // Increase height to prevent vertical clipping
    margin: 0 nhs.$nhs-fdp-spacing-3;
    vertical-align: baseline;
    position: relative;
    top: 1px; // Fine-tune vertical position to prevent clipping
  }
}

.nhsuk-breadcrumb__link {
  display: inline-block;
  color: nhs.$nhs-fdp-color-primary-blue;
  text-decoration: underline;
  font-family: #{nhs.$nhs-fdp-font-family-base}, #{nhs.$nhs-fdp-font-family-fallback};
  font-size: nhs.$nhs-fdp-font-size-16-mobile;
  line-height: 1.6; // Increase line height to provide more space for arrows
  text-decoration-thickness: max(1px, 0.0625rem);
  text-underline-offset: 0.1578em;
  
  @media (min-width: nhs.$nhs-fdp-breakpoint-tablet) {
    font-size: nhs.$nhs-fdp-font-size-16-tablet;
  }
  
  &:hover {
    color: nhs.$nhs-fdp-semantic-color-link-hover;
  }
  
  &:focus {
    color: nhs.$nhs-fdp-semantic-color-text-primary;
      background-color: nhs.$nhs-fdp-semantic-color-focus-background;
      box-shadow: 0 -2px nhs.$nhs-fdp-semantic-color-focus-background, 0 4px nhs.$nhs-fdp-semantic-color-text-primary;
      text-decoration: none;
      outline: 4px solid transparent;
    }
    
    &:visited {
      color: nhs.$nhs-fdp-color-primary-purple;
    }
  }

// Back link for mobile
.nhsuk-breadcrumb__back {
  margin: 0;
  line-height: 1;
  display: block; // Show by default on mobile
  
  // Hide on tablet and desktop
  @media (min-width: nhs.$nhs-fdp-breakpoint-tablet) {
    display: none;
  }
}

.nhsuk-breadcrumb__backlink {
  background: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 16px;
  position: relative;
  color: nhs.$nhs-fdp-semantic-color-link-default;
  text-decoration: underline;
  font-family: #{nhs.$nhs-fdp-font-family-base}, #{nhs.$nhs-fdp-font-family-fallback};
  font-size: nhs.$nhs-fdp-font-size-16-mobile;
  line-height: nhs.$nhs-fdp-font-line-height-base;
  
  @media (min-width: nhs.$nhs-fdp-breakpoint-tablet) {
    font-size: nhs.$nhs-fdp-font-size-16-tablet;
  }
  
  &::before {
    content: "";
    display: block;
    height: 24px;
    left: 0;
    position: absolute;
    top: -3px;
    width: 16px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23005eb8' height='24' width='24' viewBox='8 0 24 24'%3E%3Cpath d='M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z'%3E%3C/path%3E%3C/svg%3E") no-repeat 8px 0;
  }
  
  &:visited {
    color: nhs.$nhs-fdp-semantic-color-link-default;
  }
  
  &:hover {
    color: nhs.$nhs-fdp-semantic-color-link-hover;
    
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%237c2855' height='24' width='24' viewBox='8 0 24 24'%3E%3Cpath d='M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z'%3E%3C/path%3E%3C/svg%3E");
    }
  }
  
  &:focus {
    background-color: nhs.$nhs-fdp-semantic-color-focus-background;
    box-shadow: 0 -2px nhs.$nhs-fdp-semantic-color-focus-background,
                0 4px nhs.$nhs-fdp-semantic-color-text-primary;
    outline: 3px solid transparent;
    
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212b32' height='24' width='24' viewBox='8 0 24 24'%3E%3Cpath d='M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z'%3E%3C/path%3E%3C/svg%3E");
    }
  }
  
  .nhsuk-breadcrumb--reverse & {
    color: nhs.$nhs-fdp-color-primary-white;
    
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' height='24' width='24' viewBox='8 0 24 24'%3E%3Cpath d='M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z'%3E%3C/path%3E%3C/svg%3E");
    }
    
    &:visited {
      color: nhs.$nhs-fdp-color-primary-white;
    }
    
    &:hover {
      color: nhs.$nhs-fdp-color-primary-white;
      opacity: 0.8;
    }
    
    &:focus {
      background-color: nhs.$nhs-fdp-semantic-color-focus-background;
      color: nhs.$nhs-fdp-semantic-color-text-primary;
      
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212b32' height='24' width='24' viewBox='8 0 24 24'%3E%3Cpath d='M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z'%3E%3C/path%3E%3C/svg%3E");
      }
    }
  }
}

.nhsuk-u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
