// NHS Label SCSS - Uses compiled design tokens
@use '../../../packages/nhs-fdp/dist/scss/tokens' as nhs;

.nhsuk-label {
  color: nhs.$nhs-fdp-semantic-color-text-primary;
  display: block;
  font-family: #{nhs.$nhs-fdp-font-family-base}, #{nhs.$nhs-fdp-font-family-fallback};
  font-weight: nhs.$nhs-fdp-font-weight-bold;
  margin-bottom: nhs.$nhs-fdp-spacing-1;

  // Default medium size
  font-size: nhs.$nhs-fdp-font-size-19-mobile;
  line-height: nhs.$nhs-fdp-font-line-height-base;

  @media (min-width: 768px) {
    font-size: nhs.$nhs-fdp-font-size-19-tablet;
  }

  // Size variants
  &--xl {
    font-size: nhs.$nhs-fdp-font-size-48-mobile;
    line-height: nhs.$nhs-fdp-font-line-height-base;
    margin-bottom: nhs.$nhs-fdp-spacing-3;

    @media (min-width: 768px) {
      font-size: nhs.$nhs-fdp-font-size-48-tablet;
    }
  }

  &--l {
    font-size: nhs.$nhs-fdp-font-size-36-mobile;
    line-height: nhs.$nhs-fdp-font-line-height-base;
    margin-bottom: nhs.$nhs-fdp-spacing-2;

    @media (min-width: 768px) {
      font-size: nhs.$nhs-fdp-font-size-36-tablet;
    }
  }

  &--s {
    font-size: nhs.$nhs-fdp-font-size-16-mobile;
    line-height: nhs.$nhs-fdp-font-line-height-base;

    @media (min-width: 768px) {
      font-size: nhs.$nhs-fdp-font-size-16-tablet;
    }
  }

  // Page heading variant
  &-wrapper {
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin-bottom: 0;
  }
}
