// NHS Label SCSS - Uses compiled design tokens and semantic mixins
@use '../../../packages/nhs-fdp/scss' as nhs;

.nhsuk-label {
  color: nhs.$nhs-fdp-semantic-color-text-primary;
  display: block;
  font-family: #{nhs.$nhs-fdp-font-family-base}, #{nhs.$nhs-fdp-font-family-fallback};
  margin-bottom: nhs.$nhs-fdp-spacing-1;

  @include nhs.nhs-fdp-font(19); // Matches NHS UK @include nhsuk-font(19)

  // Size variants with proper NHS UK typography
  &--xl {
    @include nhs.nhs-fdp-font(48, bold); // Matches NHS UK @include nhsuk-font-size(48) with bold
    margin-bottom: nhs.$nhs-fdp-spacing-3;
    margin-top: 0;
  }

  &--l {
    @include nhs.nhs-fdp-font(36, bold); // Matches NHS UK @include nhsuk-font-size(36) with bold
    margin-bottom: nhs.$nhs-fdp-spacing-3;
    margin-top: 0;
  }

  &--m {
    @include nhs.nhs-fdp-font(26, bold); // Matches NHS UK @include nhsuk-font-size(26) with bold
    margin-bottom: nhs.$nhs-fdp-spacing-3;
    margin-top: 0;
  }

  &--s {
    @include nhs.nhs-fdp-font(19, bold); // Matches NHS UK @include nhsuk-font-size(19) with bold
    margin-top: 0;
  }

  // Page heading variant
  &-wrapper {
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin-bottom: 0;
  }
}
