.nhsuk-u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.nhsuk-u-hidden {
  display: none !important;
}
.nhsuk-u-show {
  display: block !important;
}
.nhsuk-u-text-left {
  text-align: left !important;
}
.nhsuk-u-text-center {
  text-align: center !important;
}
.nhsuk-u-text-right {
  text-align: right !important;
}
.nhsuk-u-margin-0 {
  margin: 0 !important;
}
.nhsuk-u-margin-bottom-0 {
  margin-bottom: 0 !important;
}
.nhsuk-u-margin-top-0 {
  margin-top: 0 !important;
}
.nhsuk-u-padding-0 {
  padding: 0 !important;
}
.nhsuk-u-padding-bottom-0 {
  padding-bottom: 0 !important;
}
.nhsuk-u-padding-top-0 {
  padding-top: 0 !important;
}
.nhsuk-u-clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.nhsuk-header .nhsuk-u-visually-hidden,
.nhsuk-header__search .nhsuk-u-visually-hidden,
label .nhsuk-u-visually-hidden,
span .nhsuk-u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.nhsuk-width-container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1200px;
}
@media (min-width: 768px) {
  .nhsuk-width-container {
    padding: 0 32px;
  }
}
@media (min-width: 1020px) {
  .nhsuk-width-container {
    padding: 0 40px;
  }
}

.nhsuk-icon {
  width: auto !important;
  height: 2em;
  vertical-align: text-bottom;
  flex-shrink: 0;
}

.nhsuk-details {
  color: #212b32;
  display: block;
  font-family: Frutiger W01, Arial, sans-serif;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .nhsuk-details {
    font-size: 19px;
    line-height: 28px;
  }
}
.nhsuk-details__summary {
  display: block;
}
.nhsuk-details__text {
  margin-bottom: 40px;
  margin-top: 16px;
}
.nhsuk-details + h2,
.nhsuk-details + .nhsuk-heading-l {
  padding-top: 40px;
}

@media screen\0  {
  .nhsuk-details {
    border-left: 4px solid #d8dde0;
    margin-top: 16px;
    padding: 24px 0;
    padding-left: 20px;
  }
  .nhsuk-details__summary-text {
    display: block;
    font-weight: 600;
    margin-bottom: 40px;
  }
}
@supports not (-ms-ime-align: auto) {
  .nhsuk-details__summary {
    color: #005eb8;
    cursor: pointer;
    padding-left: 32px;
    position: relative;
    width: fit-content;
  }
  .nhsuk-details__summary:hover {
    color: #7c2855;
  }
  .nhsuk-details__summary:focus {
    background-color: #ffeb3b;
    box-shadow: 0 -2px #ffeb3b, 0 4px #212b32;
    color: #212b32;
    outline: 4px solid transparent;
    text-decoration: none;
  }
  .nhsuk-details__summary:hover .nhsuk-details__summary-text, .nhsuk-details__summary:focus .nhsuk-details__summary-text {
    text-decoration: none;
  }
  .nhsuk-details__summary::-webkit-details-marker {
    display: none;
  }
  .nhsuk-details__summary::before {
    border-color: transparent transparent transparent #212b32;
    border-style: solid;
    border-width: 8px 0 8px 12px;
    bottom: 0;
    content: "";
    height: 0;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    width: 0;
  }
  .nhsuk-details[open] > .nhsuk-details__summary::before {
    border-color: #212b32 transparent transparent transparent;
    border-width: 12px 8px 0 8px;
  }
  .nhsuk-details__summary-text {
    text-decoration: underline;
  }
  .nhsuk-details__text {
    border-left: 4px solid #d8dde0;
    margin-top: 16px;
    padding: 24px 0;
    padding-left: 20px;
    padding-right: 0;
  }
}