{# Details macro: mirrors React Details SSR (excludes children override path) #}
{% macro details(params) %}
  {% set classes = 'nhsuk-details' %}
  {% if params.className %}{% set classes = classes + ' ' + params.className %}{% endif %}
  <details class="{{ classes }}"{% if params.id %} id="{{ params.id }}"{% endif %}{% if params.open %} open{% endif %}>
    <summary class="nhsuk-details__summary" tabindex="0">
      <span class="nhsuk-details__summary-text">{% if params.summaryHtml %}{{ params.summaryHtml | safe }}{% else %}{{ params.summaryText }}{% endif %}</span>
    </summary>
    <div class="nhsuk-details__text">
      {% if params.html %}<div>{{ params.html | safe }}</div>{% elif params.text %}{{ params.text }}{% endif %}
    </div>
  </details>
{% endmacro %}
