.nhsuk-u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.nhsuk-u-hidden {
  display: none !important;
}
.nhsuk-u-show {
  display: block !important;
}
.nhsuk-u-text-left {
  text-align: left !important;
}
.nhsuk-u-text-center {
  text-align: center !important;
}
.nhsuk-u-text-right {
  text-align: right !important;
}
.nhsuk-u-margin-0 {
  margin: 0 !important;
}
.nhsuk-u-margin-bottom-0 {
  margin-bottom: 0 !important;
}
.nhsuk-u-margin-top-0 {
  margin-top: 0 !important;
}
.nhsuk-u-padding-0 {
  padding: 0 !important;
}
.nhsuk-u-padding-bottom-0 {
  padding-bottom: 0 !important;
}
.nhsuk-u-padding-top-0 {
  padding-top: 0 !important;
}
.nhsuk-u-clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.nhsuk-header .nhsuk-u-visually-hidden,
.nhsuk-header__search .nhsuk-u-visually-hidden,
label .nhsuk-u-visually-hidden,
span .nhsuk-u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.nhsuk-width-container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1200px;
}
@media (min-width: 768px) {
  .nhsuk-width-container {
    padding: 0 32px;
  }
}
@media (min-width: 1020px) {
  .nhsuk-width-container {
    padding: 0 40px;
  }
}

.nhsuk-icon {
  width: auto !important;
  height: 2em;
  vertical-align: text-bottom;
  flex-shrink: 0;
}

.nhsuk-radios__item {
  clear: left;
  display: block;
  margin-bottom: 8px;
  min-height: 40px;
  padding: 0 0 0 40px;
  position: relative;
  font-family: Frutiger W01, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (min-width: 768px) {
  .nhsuk-radios__item {
    font-size: 19px;
  }
}
.nhsuk-radios__item:last-child, .nhsuk-radios__item:last-of-type {
  margin-bottom: 0;
}
.nhsuk-radios__input {
  cursor: pointer;
  height: 40px;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 40px;
  z-index: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.nhsuk-radios__input:focus + .nhsuk-radios__label::before {
  outline: 4px solid #ffeb3b;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px #212b32;
}
.nhsuk-radios__input:checked + .nhsuk-radios__label::after {
  opacity: 1;
}
.nhsuk-radios__input:disabled {
  cursor: default;
}
.nhsuk-radios__input:disabled + .nhsuk-radios__label {
  cursor: default;
  opacity: 0.5;
}
.nhsuk-radios__label {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  padding: 8px 12px 4px;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  color: #212b32;
}
.nhsuk-radios__label::before {
  background: #ffffff;
  border: 2px solid #4c6272;
  border-radius: 50%;
  box-sizing: border-box;
  content: "";
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}
.nhsuk-radios__label::after {
  background: #212b32;
  border-radius: 50%;
  content: "";
  height: 16px;
  left: 12px;
  opacity: 0;
  position: absolute;
  top: 12px;
  width: 16px;
  box-sizing: border-box;
}
.nhsuk-radios__hint {
  display: block;
  padding-left: 12px;
  padding-right: 12px;
  color: #4c6272;
  font-size: 14px;
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  .nhsuk-radios__hint {
    font-size: 16px;
  }
}
.nhsuk-radios__conditional {
  margin-left: calc(-40px / 2 - 4px / 2);
  padding-left: calc(40px / 2 + 16px);
  border-left: 4px solid #4c6272;
  margin-bottom: 24px;
  margin-top: 8px;
}
.nhsuk-radios__conditional > :last-child {
  margin-bottom: 0;
}
.nhsuk-radios__conditional--hidden {
  display: none !important;
}
.nhsuk-radios--inline .nhsuk-radios__item {
  clear: none;
  display: inline-block;
  margin-right: 24px;
  margin-bottom: 0;
  vertical-align: top;
}
.nhsuk-radios--inline .nhsuk-radios__item:last-child {
  margin-right: 0;
}
.nhsuk-radios--small .nhsuk-radios__item {
  min-height: 40px;
  padding-left: 40px;
  font-size: 14px;
}
@media (min-width: 768px) {
  .nhsuk-radios--small .nhsuk-radios__item {
    font-size: 16px;
  }
}
.nhsuk-radios--small .nhsuk-radios__input {
  height: 40px;
  width: 40px;
}
.nhsuk-radios--small .nhsuk-radios__label::before {
  height: 40px;
  width: 40px;
}
.nhsuk-radios--small .nhsuk-radios__label::after {
  height: 10px;
  left: 8px;
  top: 8px;
  width: 10px;
}
.nhsuk-radios--error .nhsuk-radios__input + .nhsuk-radios__label::before {
  border-color: #d5281b;
  border-width: 4px;
}