// SortableDataTable component styles using design tokens
@use '../../../packages/nhs-fdp/scss' as nhs;

.sortable-data-table {
  font-family: nhs.$nhs-fdp-font-family-base, nhs.$nhs-fdp-font-family-fallback;
  width: 100%;
  
  // Table styling using design tokens
  .nhsuk-table {
    border-collapse: collapse;
    width: 100%;
    font-family: inherit;
    
    .nhsuk-table__head {
      border-bottom: 2px solid nhs.$nhs-fdp-border-color-default;
    }
    
    .nhsuk-table__body {
      .nhsuk-table__row {
        border-bottom: 1px solid nhs.$nhs-fdp-border-color-default;
        
        &:hover {
          background-color: nhs.$nhs-fdp-color-grey-5;
        }
      }
      
      .nhsuk-table__cell {
        padding: nhs.$nhs-fdp-spacing-4 nhs.$nhs-fdp-spacing-3;
        vertical-align: middle;
        color: nhs.$nhs-fdp-color-primary-black;
        
        @include nhs.nhs-fdp-font-size(19);
      }
    }
  }
  
  // Tab styling overrides using design tokens
  .nhsuk-tabs {
    margin-bottom: 0;
    width: 100%;
    font-family: inherit;
    
    .nhsuk-tabs__list {
      display: flex;
      justify-content: center;
      margin-bottom: 0;
      width: 100%;
      list-style: none;
      padding: 0;
      border-bottom: 1px solid nhs.$nhs-fdp-border-color-default;
      
      .nhsuk-tabs__list-item {
        margin: 0;
        
        &.nhsuk-tabs__list-item--selected {
          border-bottom: 3px solid nhs.$nhs-fdp-color-primary-blue;
          
          button {
            color: nhs.$nhs-fdp-color-primary-blue;
            font-weight: nhs.$nhs-fdp-font-weight-bold;
          }
        }
        
        button {
          background: none;
          border: none;
          color: nhs.$nhs-fdp-color-primary-black;
          font: inherit;
          cursor: pointer;
          padding: nhs.$nhs-fdp-spacing-4 nhs.$nhs-fdp-spacing-5;
          text-decoration: none;
          border-radius: nhs.$nhs-fdp-border-radius-small;
          transition: all 0.2s ease;
          
          &:hover {
            background-color: nhs.$nhs-fdp-color-grey-5;
          }
          
          &:focus {
            outline: 2px solid nhs.$nhs-fdp-color-primary-blue;
            outline-offset: 2px;
          }
        }
      }
    }
  }
  
  // Column header styling
  th[role="columnheader"] {
    position: sticky;
    top: 0;
    background: nhs.$nhs-fdp-color-primary-white;
    z-index: 1;
    text-align: center;
    cursor: pointer;
    padding: nhs.$nhs-fdp-spacing-3 nhs.$nhs-fdp-spacing-3;
    height: 60px;
    border-bottom: 2px solid nhs.$nhs-fdp-border-color-default;
    color: nhs.$nhs-fdp-color-primary-black;
    font-weight: nhs.$nhs-fdp-font-weight-bold;
    
    @include nhs.nhs-fdp-font-size(16);
    
    &:hover {
      background-color: nhs.$nhs-fdp-color-grey-5;
    }
    
    &:focus {
      outline: 2px solid nhs.$nhs-fdp-color-primary-blue;
      outline-offset: -2px;
    }
    
    // Sorted column styling
    &[aria-sort="ascending"],
    &[aria-sort="descending"] {
      background-color: nhs.$nhs-fdp-color-grey-5;
      color: nhs.$nhs-fdp-color-primary-blue;
    }
    
    // Sort indicator styling
    .sort-indicator {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: nhs.$nhs-fdp-spacing-2;
      
      .sort-priority {
        font-weight: nhs.$nhs-fdp-font-weight-bold;
        background: nhs.$nhs-fdp-color-primary-blue;
        color: nhs.$nhs-fdp-color-primary-white;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include nhs.nhs-fdp-font-size(14);
      }
      
      svg {
        color: nhs.$nhs-fdp-color-grey-2;
      }
    }
  }
  
  // Row styling
  tr[role="row"] {
    &[aria-selected="true"] {
      background-color: #e0f7fa; // Custom selection color - keeping original
    }
    
    &:focus {
      outline: 2px solid nhs.$nhs-fdp-color-primary-blue;
      outline-offset: -2px;
    }
  }
  
  // Cell styling
  td[role="gridcell"] {
    &:focus {
      outline: 2px solid nhs.$nhs-fdp-color-primary-blue;
      outline-offset: -2px;
    }
  }
  
  // EWS Score color coding using NHS colors
  .ews-score {
    font-weight: nhs.$nhs-fdp-font-weight-bold;
    @include nhs.nhs-fdp-font-size(19); // Closest valid size to 18
    
    &.ews-low {
      color: nhs.$nhs-fdp-color-primary-green; // NHS Green for low risk
    }
    
    &.ews-medium {
      color: nhs.$nhs-fdp-color-secondary-orange; // NHS Orange for medium risk
    }
    
    &.ews-high {
      color: nhs.$nhs-fdp-color-primary-red; // NHS Red for high risk
    }
  }
  
  // Screen reader only content
  .sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}

// Focus area indicators for keyboard navigation
.sortable-data-table {
  &[data-focus-area="tabs"] .nhsuk-tabs__list button:focus {
    outline: 2px solid nhs.$nhs-fdp-color-primary-blue;
  }
  
  &[data-focus-area="headers"] th[role="columnheader"]:focus {
    outline: 2px solid nhs.$nhs-fdp-color-primary-blue;
  }
  
  &[data-focus-area="table"] {
    tr[role="row"]:focus,
    td[role="gridcell"]:focus {
      outline: 2px solid nhs.$nhs-fdp-color-primary-blue;
    }
  }
}

// Responsive adjustments
@media (max-width: calc(#{nhs.$nhs-fdp-breakpoint-medium} - 1px)) {
  .sortable-data-table {
    .nhsuk-tabs .nhsuk-tabs__list {
      flex-direction: column;
      
      .nhsuk-tabs__list-item button {
        padding: nhs.$nhs-fdp-spacing-5;
      }
    }
    
    th[role="columnheader"] {
      @include nhs.nhs-fdp-font-size(14);
      padding: nhs.$nhs-fdp-spacing-3 nhs.$nhs-fdp-spacing-2;
    }
    
    .nhsuk-table .nhsuk-table__body .nhsuk-table__cell {
      padding: nhs.$nhs-fdp-spacing-3 nhs.$nhs-fdp-spacing-2;
      @include nhs.nhs-fdp-font-size(16);
    }
  }
}
