// Legacy file - styles moved to SortableDataTable.scss with design tokens
// This file is kept for backward compatibility but can be removed

// Import only essential NHS components that are actually used
@use '../../../packages/nhs-fdp/scss' as nhs;

// Import the Tabs component styles which use design tokens
@import '../Tabs/Tabs.scss';

// Import the main component styles
@import './SortableDataTable.scss';