// NHS Heading SCSS - Reusable heading component with size variants
@use '../../../packages/nhs-fdp/scss' as nhs;

// Reusable mixin for size variants
// $name: modifier suffix (without leading --)
// $font-mobile / $font-tablet: font-size tokens
// $lh-mobile / $lh-tablet: line-height tokens
// $mb-mobile / $mb-tablet: margin-bottom tokens
@mixin heading-variant($name, $font-mobile, $lh-mobile, $mb-mobile, $font-tablet, $lh-tablet, $mb-tablet) {
  &--#{$name} {
    font-size: $font-mobile;
    line-height: $lh-mobile;
    margin-bottom: $mb-mobile;
    @media (min-width: nhs.$nhs-fdp-breakpoint-medium) {
      font-size: $font-tablet;
      line-height: $lh-tablet;
      margin-bottom: $mb-tablet;
    }
  }
}

.nhsuk-heading {
  font-family: nhs.$nhs-fdp-font-family-base, nhs.$nhs-fdp-font-family-fallback;
  font-weight: nhs.$nhs-fdp-font-weight-bold;
  // Base line-height (fallback if a size modifier not used)
  line-height: nhs.$nhs-fdp-font-line-height-19-mobile;
  // Top margin is applied conditionally (not first-child) using size-based token mapping below
  margin-top: 0;
  margin-bottom: nhs.$nhs-fdp-spacing-responsive-3-mobile;
  
  @media (min-width: nhs.$nhs-fdp-breakpoint-medium) {
    margin-bottom: nhs.$nhs-fdp-spacing-responsive-3-tablet;
  }

  // Size variants (independent of semantic level)
  // Size variants via mixin
  @include heading-variant(xs,
    nhs.$nhs-fdp-font-size-16-mobile,
    nhs.$nhs-fdp-font-line-height-16-mobile,
    nhs.$nhs-fdp-spacing-responsive-4-mobile,
    nhs.$nhs-fdp-font-size-19-tablet,
    nhs.$nhs-fdp-font-line-height-19-tablet,
    nhs.$nhs-fdp-spacing-responsive-4-tablet
  );
  @include heading-variant(s,
    nhs.$nhs-fdp-font-size-19-mobile,
    nhs.$nhs-fdp-font-line-height-19-mobile,
    nhs.$nhs-fdp-spacing-responsive-4-mobile,
    nhs.$nhs-fdp-font-size-22-tablet,
    nhs.$nhs-fdp-font-line-height-22-tablet,
    nhs.$nhs-fdp-spacing-responsive-4-tablet
  );
  @include heading-variant(m,
    nhs.$nhs-fdp-font-size-22-mobile,
    nhs.$nhs-fdp-font-line-height-22-mobile,
    nhs.$nhs-fdp-spacing-responsive-4-mobile,
    nhs.$nhs-fdp-font-size-26-tablet,
    nhs.$nhs-fdp-font-line-height-26-tablet,
    nhs.$nhs-fdp-spacing-responsive-4-tablet
  );
  @include heading-variant(l,
    nhs.$nhs-fdp-font-size-26-mobile,
    nhs.$nhs-fdp-font-line-height-26-mobile,
    nhs.$nhs-fdp-spacing-responsive-7-mobile,
    nhs.$nhs-fdp-font-size-36-tablet,
    nhs.$nhs-fdp-font-line-height-36-tablet,
    nhs.$nhs-fdp-spacing-responsive-7-tablet
  );
  @include heading-variant(xl,
    nhs.$nhs-fdp-font-size-36-mobile,
    nhs.$nhs-fdp-font-line-height-36-mobile,
    nhs.$nhs-fdp-spacing-responsive-7-mobile,
    nhs.$nhs-fdp-font-size-48-tablet,
    nhs.$nhs-fdp-font-line-height-48-tablet,
    nhs.$nhs-fdp-spacing-responsive-7-tablet
  );
  @include heading-variant(xxl,
    nhs.$nhs-fdp-font-size-48-mobile,
    nhs.$nhs-fdp-font-line-height-48-mobile,
    nhs.$nhs-fdp-spacing-responsive-8-mobile,
    nhs.$nhs-fdp-font-size-48-tablet,
    nhs.$nhs-fdp-font-line-height-48-tablet,
    nhs.$nhs-fdp-spacing-responsive-8-tablet
  );

  // ---------------------------------------------------------------------------
  // Conditional top margin (token-based) applied only when the heading is not
  // the first child in its container. Larger visual sizes receive larger
  // preceding space to create a clear vertical rhythm without double-spacing
  // at section starts.
  // Mapping (mobile / tablet):
  // xs -> spacing 3 / 3
  // s,m -> spacing 4 / 4
  // l -> spacing 5 / 5
  // xl -> spacing 6 / 6
  // xxl -> spacing 7 / 7
  // Base (no size modifier) defaults to spacing 3 / 3
  &:not(:first-child) {
    // Default (base) top spacing
    --nhs-heading-mt: #{nhs.$nhs-fdp-spacing-responsive-3-mobile};
    &.nhsuk-heading--xs { --nhs-heading-mt: #{nhs.$nhs-fdp-spacing-responsive-3-mobile}; }
    &.nhsuk-heading--s,
    &.nhsuk-heading--m { --nhs-heading-mt: #{nhs.$nhs-fdp-spacing-responsive-4-mobile}; }
    &.nhsuk-heading--l { --nhs-heading-mt: #{nhs.$nhs-fdp-spacing-responsive-5-mobile}; }
    &.nhsuk-heading--xl { --nhs-heading-mt: #{nhs.$nhs-fdp-spacing-responsive-6-mobile}; }
    &.nhsuk-heading--xxl { --nhs-heading-mt: #{nhs.$nhs-fdp-spacing-responsive-7-mobile}; }
    margin-top: var(--nhs-heading-mt);

    @media (min-width: nhs.$nhs-fdp-breakpoint-medium) {
      --nhs-heading-mt: #{nhs.$nhs-fdp-spacing-responsive-3-tablet};
      &.nhsuk-heading--xs { --nhs-heading-mt: #{nhs.$nhs-fdp-spacing-responsive-3-tablet}; }
      &.nhsuk-heading--s,
      &.nhsuk-heading--m { --nhs-heading-mt: #{nhs.$nhs-fdp-spacing-responsive-4-tablet}; }
      &.nhsuk-heading--l { --nhs-heading-mt: #{nhs.$nhs-fdp-spacing-responsive-5-tablet}; }
      &.nhsuk-heading--xl { --nhs-heading-mt: #{nhs.$nhs-fdp-spacing-responsive-6-tablet}; }
      &.nhsuk-heading--xxl { --nhs-heading-mt: #{nhs.$nhs-fdp-spacing-responsive-7-tablet}; }
      margin-top: var(--nhs-heading-mt);
    }
  }

  // Utility modifier to explicitly suppress top margin when applied after another block
  &--no-mt { margin-top: 0 !important; }
}
