// NHS Heading SCSS - Reusable heading component with size variants
@use '../../../packages/nhs-fdp/scss' as nhs;

.nhsuk-heading {
  font-family: nhs.$nhs-fdp-font-family-base, nhs.$nhs-fdp-font-family-fallback;
  font-weight: nhs.$nhs-fdp-font-weight-bold;
  line-height: nhs.$nhs-fdp-font-line-height-base;
  margin-top: 0;
  margin-bottom: nhs.$nhs-fdp-spacing-responsive-3-mobile;
  
  @media (min-width: nhs.$nhs-fdp-breakpoint-medium) {
    margin-bottom: nhs.$nhs-fdp-spacing-responsive-3-tablet;
  }

  // Size variants (independent of semantic level)
  &--xs {
    font-size: nhs.$nhs-fdp-font-size-16-mobile;
    margin-bottom: nhs.$nhs-fdp-spacing-responsive-4-mobile;
    @media (min-width: nhs.$nhs-fdp-breakpoint-medium) {
      font-size: nhs.$nhs-fdp-font-size-19-tablet;
      margin-bottom: nhs.$nhs-fdp-spacing-responsive-4-tablet;
    }
  }

  &--s {
    font-size: nhs.$nhs-fdp-font-size-19-mobile;
    margin-bottom: nhs.$nhs-fdp-spacing-responsive-4-mobile;
    @media (min-width: nhs.$nhs-fdp-breakpoint-medium) {
      font-size: nhs.$nhs-fdp-font-size-22-tablet;
      margin-bottom: nhs.$nhs-fdp-spacing-responsive-4-tablet;
    }
  }

  &--m {
    font-size: nhs.$nhs-fdp-font-size-22-mobile;
    margin-bottom: nhs.$nhs-fdp-spacing-responsive-4-mobile;
    @media (min-width: nhs.$nhs-fdp-breakpoint-medium) {
      font-size: nhs.$nhs-fdp-font-size-26-tablet;
      margin-bottom: nhs.$nhs-fdp-spacing-responsive-4-tablet;
    }
  }

  &--l {
    font-size: nhs.$nhs-fdp-font-size-26-mobile;
    margin-bottom: nhs.$nhs-fdp-spacing-responsive-7-mobile;
    @media (min-width: nhs.$nhs-fdp-breakpoint-medium) {
      font-size: nhs.$nhs-fdp-font-size-36-tablet;
      margin-bottom: nhs.$nhs-fdp-spacing-responsive-7-tablet;
    }
  }

  &--xl {
    font-size: nhs.$nhs-fdp-font-size-36-mobile;
    margin-bottom: nhs.$nhs-fdp-spacing-responsive-7-mobile;
    @media (min-width: nhs.$nhs-fdp-breakpoint-medium) {
      font-size: nhs.$nhs-fdp-font-size-48-tablet;
      margin-bottom: nhs.$nhs-fdp-spacing-responsive-7-tablet;
    }
  }

  &--xxl {
    font-size: nhs.$nhs-fdp-font-size-48-mobile;
    margin-bottom: nhs.$nhs-fdp-spacing-responsive-8-mobile;
    @media (min-width: nhs.$nhs-fdp-breakpoint-medium) {
      font-size: nhs.$nhs-fdp-font-size-48-tablet;
      margin-bottom: nhs.$nhs-fdp-spacing-responsive-8-tablet;
    }
  }
}
