// NHS Checkboxes SCSS - Uses compiled design tokens
@use '../../../packages/nhs-fdp/dist/scss/tokens' as nhs;

// Checkbox component variables
$checkboxes-size: nhs.$nhs-fdp-form-spacing-checkbox-size;
$checkboxes-label-padding: nhs.$nhs-fdp-form-spacing-checkbox-label-padding;

.nhsuk-checkboxes {
  &__item {
    clear: left;
    display: block;
    margin-bottom: nhs.$nhs-fdp-spacing-2;
    min-height: $checkboxes-size;
    padding: 0 0 0 $checkboxes-size;
    position: relative;
    font-family: "#{nhs.$nhs-fdp-font-family-base}", #{nhs.$nhs-fdp-font-family-fallback};
    font-size: nhs.$nhs-fdp-font-size-19-mobile;
    font-weight: nhs.$nhs-fdp-font-weight-normal;
    line-height: nhs.$nhs-fdp-font-line-height-base;

    @media (min-width: 768px) {
      font-size: nhs.$nhs-fdp-font-size-19-tablet;
    }

    &:last-child,
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__input {
    cursor: pointer;
    height: $checkboxes-size;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: $checkboxes-size;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    // Focus state
    &:focus + .nhsuk-checkboxes__label::before {
      outline: nhs.$nhs-fdp-focus-outline-width nhs.$nhs-fdp-focus-outline-style nhs.$nhs-fdp-semantic-color-focus-background;
      outline-offset: 0;
      box-shadow: inset 0 0 0 nhs.$nhs-fdp-border-width-form-element nhs.$nhs-fdp-semantic-color-focus-text;
    }

    // Checked state
    &:checked + .nhsuk-checkboxes__label::after {
      opacity: 1;
    }

    // Disabled state
    &:disabled {
      cursor: default;

      + .nhsuk-checkboxes__label {
        cursor: default;
        opacity: 0.5;
      }
    }
  }

  &__label {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    padding: nhs.$nhs-fdp-spacing-2 $checkboxes-label-padding nhs.$nhs-fdp-spacing-1;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    color: nhs.$nhs-fdp-semantic-color-text-primary;

    // Checkbox box styling
    &::before {
      background: nhs.$nhs-fdp-color-primary-white;
      border: nhs.$nhs-fdp-border-width-form-element solid nhs.$nhs-fdp-color-grey-3;
      box-sizing: border-box;
      content: "";
      height: $checkboxes-size;
      left: 0;
      position: absolute;
      top: 0;
      width: $checkboxes-size;
      border-radius: nhs.$nhs-fdp-border-radius-none;
    }

    // Checkbox tick mark styling
    &::after {
      background: transparent;
      border: solid;
      border-color: nhs.$nhs-fdp-color-primary-black;
      border-top-color: transparent;
      border-width: 0 0 nhs.$nhs-fdp-border-width-form-element nhs.$nhs-fdp-border-width-form-element;
      content: "";
      height: 10px;
      left: 10px;
      opacity: 0;
      position: absolute;
      top: 13px;
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      width: 22px;
      box-sizing: border-box;
    }
  }

  &__hint {
    display: block;
    padding-left: $checkboxes-label-padding;
    padding-right: $checkboxes-label-padding;
    color: nhs.$nhs-fdp-semantic-color-text-secondary;
    font-size: nhs.$nhs-fdp-font-size-16-mobile;
    margin-bottom: nhs.$nhs-fdp-spacing-1;

    @media (min-width: 768px) {
      font-size: nhs.$nhs-fdp-font-size-16-tablet;
    }
  }

  &__divider {
    color: nhs.$nhs-fdp-semantic-color-text-primary;
    margin-bottom: nhs.$nhs-fdp-spacing-2;
    text-align: center;
    width: $checkboxes-size;
    font-family: "#{nhs.$nhs-fdp-font-family-base}", #{nhs.$nhs-fdp-font-family-fallback};
    font-size: nhs.$nhs-fdp-font-size-19-mobile;
    font-weight: nhs.$nhs-fdp-font-weight-normal;
    line-height: nhs.$nhs-fdp-font-line-height-base;

    @media (min-width: 768px) {
      font-size: nhs.$nhs-fdp-font-size-19-tablet;
    }
  }

  &__conditional {
    $conditional-border-width: nhs.$nhs-fdp-border-width-form-element;
    $conditional-border-padding: calc(#{$checkboxes-size} / 2 - #{$conditional-border-width} / 2);
    $conditional-margin-left: $conditional-border-padding;
    $conditional-padding-left: calc(#{$conditional-border-padding} + #{$checkboxes-label-padding});

    border-left: $conditional-border-width solid nhs.$nhs-fdp-color-grey-3;
    margin-left: $conditional-margin-left;
    padding-left: $conditional-padding-left;
    margin-bottom: nhs.$nhs-fdp-spacing-4;

    & > :last-child {
      margin-bottom: 0;
    }

    // Hidden conditional content
    &--hidden {
      display: none !important;
    }
  }
}

// Error state styles
.nhsuk-checkboxes--error {
  .nhsuk-checkboxes__input + .nhsuk-checkboxes__label::before {
    border-color: nhs.$nhs-fdp-border-color-error;
    border-width: nhs.$nhs-fdp-border-width-form-element-error;
  }
}

// Small variant
.nhsuk-checkboxes--small {
  .nhsuk-checkboxes__item {
    min-height: nhs.$nhs-fdp-spacing-6;
    padding-left: nhs.$nhs-fdp-spacing-6;
    font-size: nhs.$nhs-fdp-font-size-16-mobile;

    @media (min-width: 768px) {
      font-size: nhs.$nhs-fdp-font-size-16-tablet;
    }
  }

  .nhsuk-checkboxes__input {
    height: nhs.$nhs-fdp-spacing-6;
    width: nhs.$nhs-fdp-spacing-6;
  }

  .nhsuk-checkboxes__label {
    &::before {
      height: nhs.$nhs-fdp-spacing-6;
      width: nhs.$nhs-fdp-spacing-6;
    }

    &::after {
      height: 6px;
      left: 6px;
      top: 9px;
      width: 14px;
    }
  }
}

// Utility classes
.nhsuk-u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

// Legacy support
.nhsuk-frontend-supported .nhsuk-checkboxes__conditional--hidden {
  display: none;
}
