// NHS Hint SCSS - Uses compiled design tokens
@use '../../../packages/nhs-fdp/dist/scss/tokens' as nhs;

.nhsuk-hint {
  color: nhs.$nhs-fdp-semantic-color-text-secondary;
  display: block;
  font-family: #{nhs.$nhs-fdp-font-family-base}, #{nhs.$nhs-fdp-font-family-fallback};
  font-size: nhs.$nhs-fdp-font-size-16-mobile;
  font-weight: nhs.$nhs-fdp-font-weight-normal;
  line-height: nhs.$nhs-fdp-font-line-height-base;
  margin-bottom: nhs.$nhs-fdp-spacing-3;

  @media (min-width: 768px) {
    font-size: nhs.$nhs-fdp-font-size-16-tablet;
  }
}
