// NHS Date Input SCSS - Uses compiled design tokens
@use '../../../packages/nhs-fdp/scss' as nhs;

.nhsuk-date-input {
  font-size: 0; // Removes whitespace caused by inline-block
  
  // Clear floats
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

.nhsuk-date-input__item {
  display: inline-block;
  margin-bottom: 0;
  margin-right: nhs.$nhs-fdp-spacing-4;
  
  &:last-child {
    margin-right: 0;
  }
}

.nhsuk-date-input__label {
  display: block;
  font-family: #{nhs.$nhs-fdp-font-family-base}, #{nhs.$nhs-fdp-font-family-fallback};
  font-size: nhs.$nhs-fdp-font-size-16-mobile;
  font-weight: nhs.$nhs-fdp-font-weight-normal;
  line-height: nhs.$nhs-fdp-font-line-height-base;
  margin-bottom: nhs.$nhs-fdp-spacing-1;
  color: nhs.$nhs-fdp-semantic-color-text-primary;

  @media (min-width: nhs.$nhs-fdp-breakpoint-medium) {
    font-size: nhs.$nhs-fdp-font-size-16-tablet;
  }
}

.nhsuk-date-input__input {
  margin-bottom: 0;
  
  // Override input width variants for date inputs
  &.nhsuk-input--width-2 {
    max-width: 5.4ex; // For day/month
  }
  
  &.nhsuk-input--width-4 {
    max-width: 9ex; // For year
  }
}