.nhsuk-u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.nhsuk-u-hidden {
  display: none !important;
}
.nhsuk-u-show {
  display: block !important;
}
.nhsuk-u-text-left {
  text-align: left !important;
}
.nhsuk-u-text-center {
  text-align: center !important;
}
.nhsuk-u-text-right {
  text-align: right !important;
}
.nhsuk-u-margin-0 {
  margin: 0 !important;
}
.nhsuk-u-margin-bottom-0 {
  margin-bottom: 0 !important;
}
.nhsuk-u-margin-top-0 {
  margin-top: 0 !important;
}
.nhsuk-u-padding-0 {
  padding: 0 !important;
}
.nhsuk-u-padding-bottom-0 {
  padding-bottom: 0 !important;
}
.nhsuk-u-padding-top-0 {
  padding-top: 0 !important;
}
.nhsuk-u-clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.nhsuk-header .nhsuk-u-visually-hidden,
.nhsuk-header__search .nhsuk-u-visually-hidden,
label .nhsuk-u-visually-hidden,
span .nhsuk-u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.nhsuk-width-container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1200px;
}
@media (min-width: 768px) {
  .nhsuk-width-container {
    padding: 0 32px;
  }
}
@media (min-width: 1020px) {
  .nhsuk-width-container {
    padding: 0 40px;
  }
}

.nhsuk-icon {
  width: auto !important;
  height: 2em;
  vertical-align: text-bottom;
  flex-shrink: 0;
}

.nhsuk-tag {
  background-color: #004c96;
  border: 1px solid #004c96;
  color: #ffffff;
  display: inline-block;
  outline: 2px solid transparent;
  outline-offset: -2px;
  padding: 4px 8px;
  text-decoration: none;
  font-family: Frutiger W01, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
}
@media (min-width: 768px) {
  .nhsuk-tag {
    font-size: 16px;
  }
}
.nhsuk-tag__close {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  line-height: 1;
  padding: 0;
  margin-left: 0.25rem;
  width: 16px;
  height: 16px;
  transition: opacity 0.2s ease;
  border-radius: 0;
}
.nhsuk-tag__close:hover:not(:disabled) {
  opacity: 0.7;
}
.nhsuk-tag__close:focus {
  outline: 2px solid #ffeb3b;
  outline-offset: 1px;
}
.nhsuk-tag__close:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.nhsuk-tag--white {
  background-color: #ffffff;
  border-color: #212b32;
  color: #212b32;
}
.nhsuk-tag--grey {
  background-color: #dbe0e3;
  border-color: #354550;
  color: #354550;
}
.nhsuk-tag--green {
  background-color: #cce5d8;
  border-color: #004c23;
  color: #004c23;
}
.nhsuk-tag--aqua-green {
  background-color: #ccedeb;
  border-color: #00524d;
  color: #00524d;
}
.nhsuk-tag--blue {
  background-color: #ccdff1;
  border-color: #004281;
  color: #004281;
}
.nhsuk-tag--purple {
  background-color: #d6cce3;
  border-color: #240050;
  color: #240050;
}
.nhsuk-tag--pink {
  background-color: #efd3e3;
  border-color: #57133a;
  color: #57133a;
}
.nhsuk-tag--red {
  background-color: #f7d4d1;
  border-color: #6b140e;
  color: #6b140e;
}
.nhsuk-tag--orange {
  background-color: #ffdc8e;
  border-color: #4d3708;
  color: #4d3708;
}
.nhsuk-tag--yellow {
  background-color: #fff59d;
  border-color: #4d4712;
  color: #4d4712;
}
.nhsuk-tag--no-border {
  border: 0;
}
.nhsuk-tag--closable {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  padding-right: 0.25rem;
}
.nhsuk-tag--disabled {
  opacity: 0.6;
  cursor: not-allowed;
}