// NHS Character Count SCSS - Uses compiled design tokens
@use '../../../packages/nhs-fdp/scss' as nhs;

.nhsuk-character-count {
  margin-bottom: nhs.$nhs-fdp-spacing-6;

  .nhsuk-form-group,
  .nhsuk-textarea {
    margin-bottom: nhs.$nhs-fdp-spacing-1;
  }
}

.nhsuk-character-count__message {
  margin-bottom: 0;
  margin-top: 0;
  font-family: #{nhs.$nhs-fdp-font-family-base}, #{nhs.$nhs-fdp-font-family-fallback};
  font-size: nhs.$nhs-fdp-font-size-16-mobile;
  line-height: nhs.$nhs-fdp-font-line-height-base;
  color: nhs.$nhs-fdp-semantic-color-text-secondary;

  @media (min-width: nhs.$nhs-fdp-breakpoint-medium) {
    font-size: nhs.$nhs-fdp-font-size-16-tablet;
  }

  &--disabled {
    visibility: hidden;
  }
}

// When character count is over the limit, style as error
.nhsuk-character-count__message.nhsuk-error-message {
  color: nhs.$nhs-fdp-semantic-color-error;
  font-weight: nhs.$nhs-fdp-font-weight-bold;
}

// Textarea error state
.nhsuk-textarea--error {
  border-color: nhs.$nhs-fdp-semantic-color-error;
  border-width: nhs.$nhs-fdp-border-width-form-element-error;
}