@use '../../../packages/nhs-fdp/dist/scss/tokens' as nhs;

.nhsuk-footer-container {
  background-color: nhs.$nhs-fdp-color-grey-5;
  border-top: nhs.$nhs-fdp-spacing-2 solid nhs.$nhs-fdp-color-primary-blue;
  
  // Clear floats
  &::after {
    content: "";
    display: table;
    clear: both;
  }
  
  // Print styles
  @media print {
    display: none;
  }
  
  padding-bottom: nhs.$nhs-fdp-spacing-6;
  padding-top: nhs.$nhs-fdp-spacing-6;
  
  @media (min-width: nhs.$nhs-fdp-breakpoint-tablet) {
    padding-bottom: nhs.$nhs-fdp-spacing-8;
    padding-top: nhs.$nhs-fdp-spacing-8;
  }
}

.nhsuk-width-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 nhs.$nhs-fdp-spacing-4;
  
  @media (min-width: nhs.$nhs-fdp-breakpoint-tablet) {
    padding: 0 nhs.$nhs-fdp-spacing-6;
  }
}

.nhsuk-footer {
  background-color: nhs.$nhs-fdp-color-grey-5;
  margin-bottom: nhs.$nhs-fdp-spacing-4;
  
  @media (min-width: nhs.$nhs-fdp-breakpoint-desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.nhsuk-footer__list {
  list-style-type: none;
  margin: 0;
  margin-bottom: nhs.$nhs-fdp-spacing-5;
  padding-left: 0;
  padding-bottom: nhs.$nhs-fdp-spacing-5;
  
  &:last-child {
    margin-bottom: nhs.$nhs-fdp-spacing-4;
  }
  
  @media (min-width: nhs.$nhs-fdp-breakpoint-desktop) {
    float: left;
    padding-bottom: 0;
    padding-right: nhs.$nhs-fdp-spacing-7;
    width: 75%;
    
    &:last-child {
      padding-right: 0;
    }
  }
}

.nhsuk-footer__list-item {
  font-family: #{nhs.$nhs-fdp-font-family-base}, #{nhs.$nhs-fdp-font-family-fallback};
  font-size: nhs.$nhs-fdp-font-size-16-mobile;
  
  @media (min-width: nhs.$nhs-fdp-breakpoint-tablet) {
    font-size: nhs.$nhs-fdp-font-size-16-tablet;
  }
  
  @media (min-width: nhs.$nhs-fdp-breakpoint-desktop) {
    float: none;
    margin-right: 0;
  }
}

.nhsuk-footer-default__list-item {
  @media (min-width: nhs.$nhs-fdp-breakpoint-desktop) {
    float: left;
    margin-right: nhs.$nhs-fdp-spacing-6;
  }
}

.nhsuk-footer__list-item-link {
  color: nhs.$nhs-fdp-semantic-color-link-default;
  text-decoration: underline;
  
  &:visited {
    color: nhs.$nhs-fdp-semantic-color-link-visited;
  }
  
  &:hover {
    color: nhs.$nhs-fdp-semantic-color-link-hover;
  }
  
  &:focus {
    background-color: nhs.$nhs-fdp-semantic-color-focus-background;
    box-shadow: 0 -2px nhs.$nhs-fdp-semantic-color-focus-background,
                0 4px nhs.$nhs-fdp-semantic-color-text-primary;
    outline: 3px solid transparent;
  }
}

.nhsuk-footer__copyright {
  color: nhs.$nhs-fdp-semantic-color-text-secondary;
  margin-bottom: 0;
  font-family: #{nhs.$nhs-fdp-font-family-base}, #{nhs.$nhs-fdp-font-family-fallback};
  font-size: nhs.$nhs-fdp-font-size-16-mobile;
  
  @media (min-width: nhs.$nhs-fdp-breakpoint-tablet) {
    font-size: nhs.$nhs-fdp-font-size-16-tablet;
  }
}

.nhsuk-footer__meta {
  @media (max-width: calc(#{nhs.$nhs-fdp-breakpoint-desktop} - 1px)) {
    border-top: 1px solid nhs.$nhs-fdp-semantic-color-border-default;
    padding-top: nhs.$nhs-fdp-spacing-6;
  }
}

.nhsuk-u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
