.nhsuk-u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.nhsuk-u-hidden {
  display: none !important;
}
.nhsuk-u-show {
  display: block !important;
}
.nhsuk-u-text-left {
  text-align: left !important;
}
.nhsuk-u-text-center {
  text-align: center !important;
}
.nhsuk-u-text-right {
  text-align: right !important;
}
.nhsuk-u-margin-0 {
  margin: 0 !important;
}
.nhsuk-u-margin-bottom-0 {
  margin-bottom: 0 !important;
}
.nhsuk-u-margin-top-0 {
  margin-top: 0 !important;
}
.nhsuk-u-padding-0 {
  padding: 0 !important;
}
.nhsuk-u-padding-bottom-0 {
  padding-bottom: 0 !important;
}
.nhsuk-u-padding-top-0 {
  padding-top: 0 !important;
}
.nhsuk-u-clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.nhsuk-header .nhsuk-u-visually-hidden,
.nhsuk-header__search .nhsuk-u-visually-hidden,
label .nhsuk-u-visually-hidden,
span .nhsuk-u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.nhsuk-width-container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1200px;
}
@media (min-width: 768px) {
  .nhsuk-width-container {
    padding: 0 32px;
  }
}
@media (min-width: 1020px) {
  .nhsuk-width-container {
    padding: 0 40px;
  }
}

.nhsuk-icon {
  width: auto !important;
  height: 2em;
  vertical-align: text-bottom;
  flex-shrink: 0;
}

.nhsuk-textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #aeb7bd;
  border-radius: 0px;
  box-sizing: border-box;
  margin-top: 0;
  padding: 4px;
  width: 100%;
  resize: vertical;
  font-family: Frutiger W01, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212b32;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .nhsuk-textarea {
    font-size: 19px;
  }
}
.nhsuk-textarea:focus {
  outline: 4px solid #ffeb3b;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px #212b32;
  border-color: #212b32;
}
.nhsuk-textarea:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #f0f4f5;
  color: #4c6272;
  resize: none;
}
.nhsuk-textarea--error {
  border-color: #d5281b;
  border-width: 4px;
}
.nhsuk-textarea--resize-none {
  resize: none;
}
.nhsuk-textarea--resize-both {
  resize: both;
}
.nhsuk-textarea--resize-horizontal {
  resize: horizontal;
}
.nhsuk-textarea--resize-vertical {
  resize: vertical;
}