.nhsuk-u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.nhsuk-u-hidden {
  display: none !important;
}
.nhsuk-u-show {
  display: block !important;
}
.nhsuk-u-text-left {
  text-align: left !important;
}
.nhsuk-u-text-center {
  text-align: center !important;
}
.nhsuk-u-text-right {
  text-align: right !important;
}
.nhsuk-u-margin-0 {
  margin: 0 !important;
}
.nhsuk-u-margin-bottom-0 {
  margin-bottom: 0 !important;
}
.nhsuk-u-margin-top-0 {
  margin-top: 0 !important;
}
.nhsuk-u-padding-0 {
  padding: 0 !important;
}
.nhsuk-u-padding-bottom-0 {
  padding-bottom: 0 !important;
}
.nhsuk-u-padding-top-0 {
  padding-top: 0 !important;
}
.nhsuk-u-clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.nhsuk-header .nhsuk-u-visually-hidden,
.nhsuk-header__search .nhsuk-u-visually-hidden,
label .nhsuk-u-visually-hidden,
span .nhsuk-u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.nhsuk-width-container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1200px;
}
@media (min-width: 768px) {
  .nhsuk-width-container {
    padding: 0 32px;
  }
}
@media (min-width: 1020px) {
  .nhsuk-width-container {
    padding: 0 40px;
  }
}

.nhsuk-icon {
  width: auto !important;
  height: 2em;
  vertical-align: text-bottom;
  flex-shrink: 0;
}

.nhsuk-card {
  background: #ffffff;
  border: 1px solid #d8dde0;
  position: relative;
  width: 100%;
  margin-bottom: 48px;
}
@media (max-width: calc(768px - 1px)) {
  .nhsuk-card {
    margin-bottom: 48px;
  }
}
.nhsuk-card__img {
  border-bottom: 1px solid #f0f4f5;
  display: block;
  width: 100%;
}
@media print {
  .nhsuk-card__img {
    display: none;
  }
}
.nhsuk-card__content {
  padding: 16px;
}
@media (min-width: 768px) {
  .nhsuk-card__content {
    padding: 32px;
  }
}
.nhsuk-card__content > *:first-child {
  margin-top: 0;
}
.nhsuk-card__content > *:last-child {
  margin-bottom: 0;
}
.nhsuk-card__content--primary {
  border-bottom: 4px solid #d8dde0;
  padding-right: calc(32px + 27px + 24px);
}
@media (min-width: 641px) {
  .nhsuk-card__content--primary {
    padding-right: calc(32px + 27px + 24px);
  }
}
@media (min-width: 1024px) {
  .nhsuk-card__content--primary {
    height: 100%;
  }
}
.nhsuk-card__content--primary .nhsuk-icon {
  display: block;
  width: 27px;
  height: 27px;
  margin-top: calc(-27px / 2);
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 32px;
  fill: #005eb8;
}
@media (min-width: 641px) {
  .nhsuk-card__content--primary .nhsuk-icon {
    right: 32px;
  }
}
.nhsuk-card__content--secondary {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.nhsuk-card__content--feature {
  padding-top: 0 !important;
}
.nhsuk-card__heading {
  margin-bottom: 16px;
  font-family: Frutiger W01, Arial, sans-serif;
  font-weight: 600;
  line-height: 24px;
  color: #212b32;
  font-size: 22px;
}
@media (min-width: 641px) {
  .nhsuk-card__heading {
    font-size: 26px;
  }
}
.nhsuk-card__heading:has(+ .nhsuk-icon) {
  margin-bottom: 0;
}
.nhsuk-card__heading--feature {
  background: #005eb8;
  color: #ffffff;
  display: inline-block;
  left: -25px;
  margin-bottom: 8px;
  margin-right: -24px;
  padding: 8px 24px;
  position: relative;
  top: -8px;
}
@media (min-width: 641px) {
  .nhsuk-card__heading--feature {
    left: -33px;
    margin-right: -32px;
    padding: 8px 32px;
    top: -16px;
  }
}
.nhsuk-card__description {
  margin-bottom: 0;
  font-family: Frutiger W01, Arial, sans-serif;
  color: #212b32;
  line-height: 24px;
  font-size: 16px;
}
@media (min-width: 641px) {
  .nhsuk-card__description {
    font-size: 19px;
  }
}
.nhsuk-card__link {
  text-decoration: none;
  color: #005eb8;
}
.nhsuk-card__link:hover {
  color: #005eb8;
  text-decoration: underline;
}
.nhsuk-card__link:focus {
  color: #212b32;
  background-color: #ffeb3b;
  outline: 4px solid #212b32;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px;
}
.nhsuk-card__link::before {
  background-color: rgba(255, 255, 255, 0);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.nhsuk-card--clickable {
  border-bottom-width: 4px;
}
.nhsuk-card--clickable .nhsuk-card__heading a {
  text-decoration: none;
  color: #005eb8;
}
.nhsuk-card--clickable .nhsuk-card__heading a:hover {
  color: #005eb8;
  text-decoration: underline;
}
.nhsuk-card--clickable .nhsuk-card__heading a:focus {
  color: #212b32;
  background-color: #ffeb3b;
  outline: 4px solid #212b32;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px;
}
.nhsuk-card--clickable .nhsuk-card__heading a::before {
  background-color: rgba(255, 255, 255, 0);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.nhsuk-card--clickable:active {
  border-color: #aeb7bd;
  bottom: -1px;
}
.nhsuk-card--feature {
  margin-top: 48px;
}
@media (min-width: 641px) {
  .nhsuk-card--feature {
    margin-top: 48px;
  }
}
.nhsuk-card--secondary {
  background: transparent;
  border-bottom: 4px solid #d8dde0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.nhsuk-card-group {
  margin-bottom: 16px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
@media (max-width: 1023px) {
  .nhsuk-card-group {
    margin-bottom: 40px;
  }
}
.nhsuk-card-group + h2,
.nhsuk-card-group + .nhsuk-heading-l,
.nhsuk-card-group + h3,
.nhsuk-card-group + .nhsuk-heading-m {
  padding-top: 0;
}
.nhsuk-card-group__item {
  list-style-type: none;
  margin-bottom: 0;
  flex: 1 1 0%;
}
.nhsuk-card-group__item .nhsuk-card {
  margin-bottom: 32px;
}
@media (max-width: 1023px) {
  .nhsuk-card-group__item .nhsuk-card {
    margin-bottom: 16px;
  }
  .nhsuk-card-group__item:last-child .nhsuk-card {
    margin-bottom: 0;
  }
}

.nhsuk-u-visually-hidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}